* {
    font-family: 'Raleway', sans-serif
}


#event-container .card{  
    background-color:#fff;
    padding-top:2em !important;
    padding-bottom: 2em !important;
    border-color: #c5c5c5;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.4em;
	display:inline-block;
	margin: 0.5em;
	vertical-align: top;
    width:25rem;
}

#event-container .card img{
    border-radius: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.4em;
	-o-object-fit: contain;
	object-fit: contain;
	max-width: 80px;
	max-height: 80px;
}

#event-container .card-body{
    text-align: center;
}

#event-container hr{
    margin-top:10px !important;
    margin-bottom: 20px !important;
}

#event-container.card-title, #event-container.card-text{
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
.card-text{
    max-height: 7em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
button#addEventButton,button#sortEventButton,button#manageMembersButton{
    margin: 0 0.5em;
	height: 2.4em;
}
h3 {
    margin: 0.5em 0;
    line-height: 2;
}
#content .col-md-8{
    width: 80%;
}
#event-container, #event-container-2 {
    background-color:white;
    border-width: 1px;
    border-style: solid;
    border-radius: 0.4em;
    border-color: #B0BEC5;
	padding: 1em;
	display: flex;
    flex-wrap: wrap;
}
@media (min-width: 768px) {
    #centering .col-sm-5 {
        width: calc(33% - 1.5em);
    }
}
.event-obj {
    background-image: url("https://via.placeholder.com/400x200");
    background-position: center center;
    background-size: cover;
    border: 1px solid #777777;
    border-radius: 0.5em;
    display: inline-block;
    padding: 1em;
    overflow: hidden;
    text-align: left;
    float: none
}
#content .row{
    margin-left: 0;
    margin-right: 0;
}
#content hr {
    margin-top: 0;
    margin-bottom: 0;
}
.event-obj-title {
    color: #00C085;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
	font-size: 160%;
	background-color: rgba(230, 230, 230, 0.8);
	border-radius: 2em;
	padding: 0.5em;
}

.event-obj-description {
    font-size: 1em;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
	background-color: rgba(230, 230, 230, 0.8);
	border-radius: 2em;
	padding: 0.5em;
}

.event-obj-timestamp {
    position: absolute;
    bottom: 1.5em;
    right: 1.5em;
	background-color: rgba(230, 230, 230, 0.8);
	border-radius: 2em;
	padding: 0.5em;
}

.event-obj .event-obj-content {
    opacity: 0;
    height: 17.5em;
    padding: 1.5em;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-transition: opacity 0.8s;
    -o-transition: opacity 0.8s;
    transition: opacity 0.8s
}

.event-obj:hover .event-obj-content {
    opacity: 1;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    transition: opacity 0.4s
}