.btn.btn-default {
	transition: background-color 0.3s;
}

.dashboard-top .panel-body {
    padding: 0;
    padding-top: 1em;
}
.col-sm-3 .btn-block{
    margin-bottom: 1em;
}
.dashboard-top-mid {
    text-align: center;
}

#event-team {
    text-align: center;
}
.detail-content {
    overflow-wrap: break-word;
}

#head-image {
    width: 100%;
    max-height: 14em;
}

.flex { display: flex; }
.flex-col { flex-direction: column; }
.flex-center { align-self: center; }
.flex-grow { flex-grow: 1; }

.dashboard-top-left {
    flex-grow: 1;
}

.eventName {
    font-size: 2em;
    text-align: center;
}

#eventDesc {
    line-height: 1.5;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}
.member{
    margin: 0.5em;
    margin-bottom: 0.5em !important;
    max-width: 25em;
    width: 100px;
    height: 8.5em;
    padding: 0.5em 0.1em;
    border-color: #c5c5c5;
    border-style: solid;
    border-width: 1px;
    background: #f5f5f5;
    border-radius: 0.4em;
    display: inline-block;
}
.member img{
    max-height: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.4em;
}
#member-title{
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}

#event-logo {
    display: block;
    margin-bottom: 3em;
    width: 14em;
    height: 14em;
    object-fit: cover;
    margin-top: -8em;
    margin-right: 2em;
    -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 428px) {
    #event-logo{
        margin: auto;
    }
    .dashboard-top-mid{
        margin-top: 7em;
    }
    #searchFilterFormSubmit{
        background: none;
        border: none;
    }
}
@media only screen and (max-width: 499px) {
    #event-desc{
        display: none;
    }
    .dashboard-top-left{
    margin: auto 3em;
    }
    #event-logo{ 
        margin-top: 1em;
    }
    #searchFilterFormSubmit{
        background: none;
        border: none;
    }
}

.detail-head {
    color: #00ac7d;
}

.event-message i.fa,
.event-btn-followers>span,
.event-btn-followers>strong {
    color: #00ac7d;
}
.evenInvite, .like-btn-container, .attend-btn-container{
    display: block;
    margin-bottom: 1em;
}
button.followButton {
    width: 8em;
    -webkit-transition: background-color 0.2s, color 0.2s, width 0.5s;
    -o-transition: background-color 0.2s, color 0.2s, width 0.5s;
    transition: background-color 0.2s, color 0.2s, width 0.5s;
}

button.followButton.following {
    background-color: #00C085;
    color: white
}

button.followButton.unfollow {
    background-color: #EB2323!important;
    color: white
}

#btn1 {
    cursor: pointer;
    border-radius: 0.4em;
    border: 1px solid lightgray;
    background-color: white;
    color: #00ac7d;
    text-align: center;
    text-decoration: none;
}

#btn1:hover {
    background-color: #00ac7d;
    color: white;
    border: none
}

#btn1:focus {
    outline: none
}

.dashboard-top-left,
.dashboard-top-right {
    padding-top: 0.5em;
    margin-left: 2em;
    margin-right: 2em;
}

.followers-cont {
    width: calc(100% - 30px);
    position: absolute;
    top: -4em;
	justify-content: space-between;
}
.followers-link-cont {
	height: 4em;
	overflow: hidden;
    max-width: 36%;
    margin-left: 0.5em;
	display: none;
}
@media (min-width: 500px) {
	.followers-link-cont {
		display: initial;
	}
}
@media (min-width: 769px) {
    #searchFilterFormSubmit {
        height: 2.4em; border-radius: 0px 4px 4px 0px; border: 1px solid rgb(204, 204, 204); background: none rgb(255, 255, 255);
    }
}

ul#event-modal-followers-list {
	padding-left: 0;
	text-align: center;
}

#event-modal-followers-list>li {
	display: inline-block;
	border: black solid 1px;
	box-shadow: 0 0 2px black;
}

#event-modal-followers-list>li>a>img {
	width: 8em;
	height: 8em;
	object-fit: cover;
}

.event-modal-followers-name {
	text-align: center;
	padding: 0.5em;
	background-color: #EEE;
}

.event-toolbar {
	align-self: center;
	margin: 1em;
}

.dropdown-btn {
	display: inline-block;
}

.followers-link {
    height: 3em;
    width: 3em;
    margin: 0.5em;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}

.followers-mini {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.tab-pane {
    margin-top: 1em;
}

.dropdown-menu>li>a,
.dropdown-menu>li>form>a {
    display: block;
}
.dropdown-menu>li>form {
	margin-bottom: 0;
}
.dropdown-menu>li>a:hover,
.dropdown-menu>li>form>a:hover {
    color: #00ac7d;
	background-color: #f5f5f5;
}

@media (min-width: 500px) {
	#event-name {
		border-top: solid 1px #b0cec5;
	}
}

#content {
    margin: 0 auto;
    position: relative
}

#followers {
    font-weight: bold
}

#event-cont {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px
}

#back-button {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px
}

#event-name {
    font-weight: 800;
    font-size: 28px;
    word-wrap: break-word;
    text-align: left
}

#img-cont {
    border-radius: 10px;
    padding: 0.2em
}

.img-rounded {
    width: 50%;
}

#event-img {
    border-radius: 10px;
    border: 1px solid #607D8B;
    margin: 0 auto
}

#first-row {
    margin-bottom: 20px
}

#description-title {
    display: inline
}

#desc {
    margin-top: 15px;
    word-wrap: break-word;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis
}

#img-cont {
    margin-bottom: 10px
}

@media (max-width: 1600px) {
    .extra-padding {
        width:86%
    }
}

@media (min-width: 1600px) {
    .extra-padding {
        width:70%
    }
}

@media (min-width: 1900px) {
    .extra-padding {
        width:60%
    }
}

#add-icon {
    padding: 6px 20px;
    color: #00C085;
}

@media (max-width: 768px) {
    #event-img {
        display:block;
        max-width: 100%;
        height: auto
    }

    #img-cont {
        min-width: 0px
    }
}

@media (min-width: 768px) {
    #event-img {
        width:700px;
        height: 400px
    }
}

hr {
    border-color: #AAA!important
}

#eventOverview {
    background-color: white;
    padding: 1em;
    margin: 1em 0;
    border-width: 1px;
    border-style: solid;
    border-radius: 0.4em;
    border-color: #B0BEC5;
    line-height: 1;
}
#eventOverview p {
    margin-top: 0;
    margin-bottom: 1.5em;
}

ul.event-tabs {
	background-color: lightgray;
	border-radius: 4px 4px 0 0;
}

ul.event-tabs li,ul.event-tabs li a {
    -webkit-transition: font-weight 0.5s, color 0.5s;
    -o-transition: font-weight 0.5s, color 0.5s;
    transition: font-weight 0.5s, color 0.5s
}

ul.event-tabs li.active a,ul.event-tabs li.active a:focus,ul.event-tabs li.active a:hover {
    font-weight: bold;
    color: #00ac7d
}

.member {
    margin: 0.5em;
    display: inline-block;
    vertical-align: text-top;    
}

.member .member-name{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.member .member-title,
.member .member-followers,
.member .member-events {
    color: #455A64;
    overflow: hidden;
    margin: 0;
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background-color: white;
    -webkit-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
    padding: 0.5em;
}

.member .member-title,
.member .member-followers,
.member .member-events {
    display: none;
}

.member .member-name:hover,
.member .member-title:hover,
.member .member-followers:hover,
.member .member-events:hover {
    background-color: #CFD8DC
}

#btn2 {
    cursor: pointer;
    border-radius: 0.4em;
    background-color: white;
    color: #00C085;
    text-align: center;
    text-decoration: none;
    border: solid 1px #B0BEC5;
    height: 34px;
    padding: 9px 15px 9px 15px;
    line-height: 1;
}

#btn3 {
    cursor: pointer;
    border-radius: 0.4em;
    background-color: white;
    color: #00C085;
    text-align: center;
    text-decoration: none;
    border: solid 1px #B0BEC5;
    height: 33px;
    padding: 0.5em 1.5em;
    line-height: 4;
    font-size: 0.5em;
}

.undisplay {
    display: none!important
}

.display {
    display: block
}

#btn2:hover {
    background-color: #00C085;
    color: white;
    border: none
}

#btn3:hover {
    background-color: #00C085;
    border: none
}

#btn3:hover #mailbox-ico {
    color: white!important
}

#btn2:focus {
    outline: none
}

#btn3:focus {
    outline: none
}
#eventOverview .eventOverviewTitle {
    font-weight: bold;
    color: #00C085;
    margin: 0.5em 0;
    font-size: 0.9em;
}

#event-info{
    text-align: center;
    margin: auto
}
.dashboard-top-right{
    margin-left: 1em;
    margin-right: 1em;
}

#event-startDash{
    text-align: center;
}
#event-category{
    color: #1d2129;
    display: block;
    font-size: 20px;
    font-weight: normal;
    line-height: 3.5em;
    margin-right: 12px;
}
#event-location{
    font-size: 14px;
    line-height: 2em;
    margin: 2px 12px 0 0;
}

#eventLabels {
    margin: 0 0 2em 0;
}

#eventLabels .row {
    margin-left: 1em;
    padding: 0.3em;
}
button#eventAttend{
    width: 80px;
    height: 32px;
    padding: 8px 12px;
    display: inline-block;
    border: solid 1px transparent;
    outline: 0;
    background-color: #00ac7d;
    font-weight: 500;
    font-size: 12px;
    text-decoration: none;
    white-space: nowrap;
    word-wrap: normal;
    line-height: normal;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 5px 0 0 5px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.05);
}
button#eventLike{
    width: 80px;
    height: 32px;
    padding: 8px 12px;
    display: inline-block;
    border: solid 1px transparent;
    outline: 0;
    background-color: #00ac7d;
    font-weight: 500;
    font-size: 12px;
    text-decoration: none;
    white-space: nowrap;
    word-wrap: normal;
    line-height: normal;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 5px 0 0 5px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.05);    
    background-color: rgb(255, 230, 230);
}


span.attend-count, span.like-count {
    display: inline-block;
    border-left: none;
    padding-left: 7px;
    padding: 0 7px;
    background-color: whitesmoke;
    color: #737373;
    font-size: 11px;
    text-align: center;
    white-space: nowrap;
    height: 32px;
    width: 20px;
    vertical-align: middle;
    line-height: 30px;
    border-radius: 0 5px 5px 0;
}

/* Small devices */
@media (max-width: 767.98px) {
    #event-btn{
        display: none;
    }
}
#eventLike:hover .heart, #eventLike:hover .heart:after, #eventLike:hover .heart:before{
    transform: rotate(-25deg);
    background-color: red;
}
#eventLike:hover{
    background-color: white;
}
/* heart */
.heart {
    background-color: white;
    display: inline-block;
    height: 15px;
    margin: 0 10px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    width: 15px;
  }
  .heart:before,
  .heart:after{
    content: "";
    background-color: white;
    border-radius: 50%;
    position: absolute;    
  }
  .heart:before{
    height: 15px;
    width: 15px;
    top: -6px;
    left: 0px;  
  }
  .heart:after {
    height: 15px;
    width: 15px;
    left: 9px;
    top: 0px; 
  }