.banner{
    width: 100%;
    background-color: gainsboro;
    max-height: 25em;
    height: 15em;
}
#profile{
    left: 100px;
    top: 100px;
}
.banner-right-img{
    margin-top: -4em;
    
}
#event-info{
    text-align: center;
    margin: auto
}
@media (max-width: 768px) {
    .nav-justified > li {
      display: table-cell;
      width: 1%;
    }
    .nav-justified > li > a  {
      border-bottom: 1px solid #ddd !important;
      border-radius: 4px 4px 0 0 !important;
      margin-bottom: 0 !important;
    }
}
#date{
    vertical-align: middle;
}
.w3-button{
    text-align: center;
}
#event-about p{
    margin-bottom: 0px;
}
#divider{
    width: 4em;
    height: 4px;
    background-color: green;
    margin-top: 0px;
    margin-bottom: 1em;
}
#user-img{
    width: 50px;
    height: 50px;
}
.user-attending-img{
    display: flex;
}
.user-attending-img img{
    margin-right: 1em;
}