*{
	font-family:'Raleway', sans-serif
}
#FollowersTab.active,
#FollowingTab.active {
    display: grid;
    grid-template-columns: repeat(auto-fit, 160px);
}

.followerBox {
	padding: 1em;
}
.card {
    border-color: #c5c5c5;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.4em;
	display:inline-block;
	margin: 0.5em;
    margin-bottom: 0.5em !important;
	padding: 0.5em 0.1em;
	vertical-align: top;
}
.card img {
	border-radius: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.4em;
	-o-object-fit: contain;
	object-fit: contain;
	max-width: 80px;
	max-height: 80px;
}
.card button.followButton {
	width: auto;
}
.card .followerUsername {
	width: 80px;
	white-space: initial;
}
.container-s{
	position:relative
}
.menu{
	display:block;
	color:green;
	border-radius:5px 5px 5px 5px;
	font-size:2em;
	text-align:center;
	margin-top:0.5em;
	height:1.2em;
	padding:0.3em
}
div.grid{
	width: 100%;
	flex: 1;
}
.container-s{
	text-align:center
}
.grid_wrapper{
	margin-top:1.5em!important
}
.middle{
	border-radius: 1em;
	background-color:#4CAF50;
	display: inline-block;
	padding: 0.5em 1em;
	transition: background-color 0.5s;
}
.middle:hover {
	background-color:#2C9F30;
}

.middle a{
	color:white;
}
.middle a:hover {
	color:white;
}

.image{
	opacity:1;
	display:block;
	width:100%;
	height:auto;
	-webkit-transition:.5s ease;
	-o-transition:.5s ease;
	transition:.5s ease;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden
}
