*{
	font-family:'Raleway', sans-serif
}
.followerBox{
	padding:1em
}
.card{
	display:inline-block;
	background-color: white;
	-webkit-box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
	box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
	-webkit-transition:0.5s;
	-o-transition:0.5s;
	transition:0.5s;
	border-radius: 1em;
	padding: 1em;
	margin:5px;
	width:230px
}
.card:hover{
	-webkit-box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);
	box-shadow:0 8px 16px 0 rgba(0,0,0,0.2)
}
.card img{
	border-radius:5px 5px 0 0;
	height:200px;
	width:200px;
	-o-object-fit:cover;
	object-fit:cover
}
.container-s{
	position:relative
}
.menu{
	display:block;
	color:green;
	border-radius:5px 5px 5px 5px;
	font-size:2em;
	text-align:center;
	margin-top:0.5em;
	height:1.2em;
	padding:0.3em
}
div.grid{
	width: 100%;
	flex: 1;
}
.container-s{
	text-align:center
}
.grid_wrapper{
	margin-top:1.5em!important
}
.middle{
	border-radius: 1em;
	background-color:#4CAF50;
	display: inline-block;
	padding: 0.5em 1em;
	transition: background-color 0.5s;
}
.middle:hover {
	background-color:#2C9F30;
}

.middle a{
	color:white;
}
.middle a:hover {
	color:white;
}

.image{
	opacity:1;
	display:block;
	width:100%;
	height:auto;
	-webkit-transition:.5s ease;
	-o-transition:.5s ease;
	transition:.5s ease;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden
}
