.followerBox{
	padding:1em;
}

.card {
	float:left;
	-webkit-box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
	box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
	-webkit-transition:0.5s;
	-o-transition:0.5s;
	transition:0.5s;
	border-radius:5px 5px 5px 5px;
	padding:1em;
	height:30em;
	margin:1em;
	width:280px;
}
.card:hover {
	-webkit-box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);
	box-shadow:0 8px 16px 0 rgba(0,0,0,0.2)
}
.card img{
	border-radius:5px 5px 0 0;
	height:250px;
	width:250px;
	-o-object-fit:cover;
	object-fit:cover;
}
.container-s {
	padding:2px 16px;
}
.menu{
	display:block;
	color:green;
	border-radius:5px 5px 5px 5px;
	background-color:darkgray;
	font-size:2em;
	text-align:center;
	margin-left:10em;
	margin-top:0.5em;
	height:1.2em;
	padding:0.3em
}