*{
	font-family:'Raleway', sans-serif
}

#ProjFollowingTab.active,
#FollowersTab.active,
#FollowingTab.active {
    display: flex;
    /*grid-template-columns: repeat(auto-fit, 160px);*/
}

.followerBox {
	padding: 1em;
}

.proj-tabs{
    margin-top: 4px;
}

.grid ul.list-social > li {
  line-height: 2.3;
}
.nav-pills-custom-minimal{
    border-bottom: 1px solid #ccc;
    margin-left:-1em;
    padding-left:1.5em;
    margin-top:0em;
    background-color:#fff;
}

.nav-pills-custom-minimal.custom-minimal-bottom > li.active > a, .nav-pills-custom-minimal.custom-minimal-bottom > li.active > a:hover, .nav-pills-custom-minimal.custom-minimal-bottom > li.active > a:focus{
    border-bottom-color:#94c632;
}

.nav-pills-custom-minimal.custom-minimal-bottom > li a{
    border-top:none;
    border-bottom:4px solid transparent;
}

.nav-pills-custom-minimal > li.active > a, .nav-pills-custom-minimal > li.active > a:hover, .nav-pills-custom-minimal > li.active > a:focus{
    background-color:transparent;
    color:#696565;
}


.tab-content{
    padding:15px;
    margin-bottom:20px;
    border:1px solid transparent;
    border-radius:4px;
    /*box-shadow:0 1px 1px rgba(0,0,0,.05);
    -webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);*/
    
}
.follow-card {
    padding-top:2em;
    border-color: #c5c5c5;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.4em;
	display:inline-block;
	margin: 0.5em;
    margin-bottom: 0.5em !important;
	padding: 0.5em 0.1em;
	vertical-align: top;
    width:25rem;
}
.follow-card img {
	border-radius: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.4em;
	-o-object-fit: contain;
	object-fit: contain;
	max-width: 80px;
	max-height: 80px;
}
.follow-card button.followButton {
	width: auto;
}
.container-s{
	position:relative
}
.menu{
	display:block;
	color:green;
	border-radius:5px 5px 5px 5px;
	font-size:2em;
	text-align:center;
	margin-top:0.5em;
	height:1.2em;
	padding:0.3em
}
div.grid{
	width: 100%;
	flex: 1;
}
.container-s{
	text-align:center
}

.container-s div{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.grid_wrapper{
	margin-top:1.5em!important
}
.middle{
	border-radius: 1em;
	background-color:#4CAF50;
	/*display: inline-block;*/
	padding: 0.5em 1em;
	transition: background-color 0.5s;
}
.middle:hover {
	background-color:#2C9F30;
}

.middle a{
	color:white;
}
.middle a:hover {
	color:white;
}

.image{
	opacity:1;
	display:block;
	width:100%;
	height:auto;
	-webkit-transition:.5s ease;
	-o-transition:.5s ease;
	transition:.5s ease;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden
}
