.wrapper{
    overflow-y: scroll;
    height: 100%;
}
.container-left-header{
    margin-bottom: 0px;
}

.offline>span{
    background-color: grey !important;
}
.projectMembers {
    background-color: #607D8B;
    height: 2em;
    width: 2em;
    border-radius: 1em;
    text-align: center;
    vertical-align: middle;
    color: white;
    line-height: 2;
    font-size: 1.2em;
    margin: 0.5em;
    display:inline-block;
}

#sidebar.active {
    min-width: 180px;
    max-width: 180px;
    text-align: center;
}

/* Toggling the sidebar header content, hide the big heading [h3] and showing the small heading [strong] and vice versa*/
#sidebar .sidebar-header strong {
    display: none;
}
#sidebar.active .sidebar-header h3 {
    display: none;
}
#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 30px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

/* Same dropdown links padding*/
#sidebar.active ul ul a {
    padding: 10px !important;
}

/* Changing the arrow position to bottom center position, 
   translateX(50%) works with right: 50% 
   to accurately  center the arrow */
#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    transform: translateX(50%);
}
#centering,#content,body,html {
    height: 100%
}
#content .input-group-addon {
    padding: 0;
    font-size: 1em;
    font-weight: 400;
    line-height: 1;
    color: #37474F;
    text-align: center;
    background-color: #eceff1;
    border: none;
}
#content .form-control {
    padding: 1em;
    height: 34px;
    font-size: 12px;
    line-height: 1;
    color: #455A64;
    background-color: #eceff1;
    background-image: none;
    border: none;
}
.inbox-search-box input, .inbox-search-box button {
    box-shadow: none;
    border: none;
    background-color: #ECEFF1;
    outline: none;
}
.inbox-search-box input:focus, .inbox-search-box input:active, .inbox-search-box button:active, .inbox-search-box button:focus {
    outline: none;
}
#content h3 {
    font-size: 1.4em;
    padding: 0.5em 1em;
    margin-top: 0.5em;
    border-bottom: solid 1px #B0BEC5;
}

#container-full {
    height: 95%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.container-left,.container-right {
    display: inline-block;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 0.4em;
}

.container-left {
    width: 21%;
    min-width: 16em;
    margin-right: 0.5em;
    overflow-y: scroll;
    -ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;  // Firefox
}

.container-left::-webkit-scrollbar { 
    display: none; 
}

.container-right {
	flex-grow: 1;
    overflow-y: auto
    -ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;  // Firefox
}

.container-right::-webkit-scrollbar { 
    display: none; 
}


.inbox-search-box {
    margin: 0 1em;
}

#inbox-groups {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.inbox-image{
    display:flex;
}

.inbox-group {
    height: 5em;
    padding: 1em;
    -webkit-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
    display:flex;
}

.inbox-left-bar,.inbox-last-msg{
    display:inline-flex;
}

.inbox-header{
     white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex:2; 
}



.inbox-timestamp{
     white-space: nowrap;
    flex:1;
}


.inbox-side-content{
    display:flex;
    flex-direction: column;
    width: 85%;
}
.inbox-group span {
    margin-left: 0.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.inbox-group.active, .inbox-group.active:hover {
    background-color: #607D8B;
    color: white;
}

.inbox-group {
    color: #37474F;
}
.inbox-group:hover {
    background-color: #CFD8DC;
}

.inbox-group.active .group-header {
    font-weight: bolder
}

span.group-message-time {
    font-size: 75%;
    float: right
}

.inbox-icon {
    width: 2.8em;
    height: 2.8em;
    float: left;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 1.4em;
}

.box-chat,.section-left,.section-right,.inner-section-left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%
}

.box-section{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: calc(100vh - 12.7em);

}

.box-chat,.section-left,.section-right,.inner-section-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.box-chat .message-head {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin-bottom: 0;
    padding-bottom: 0.5em;
    border-bottom: solid #CCC 1px;
}

.box-chat .box-section {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

.inner-section-left{
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

.section-left {
    padding-top: 1em;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}


.section-right {
    /* margin-left: 1em; */
    /* padding-top: 0.5em; */
    /* padding-left: 1em; */
    border-left: solid #CCC 1px;
    text-align: left;
    /* -webkit-box-flex: 0; */
    -webkit-flex: 0;
    -ms-flex: 0;
    flex: 0;
    /* min-width: 15em; */
}

.section-left ul.message-box {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}
.message-foot {
    padding:1em;
    border-top: solid 1px #d1d9dd;
}
.section-left div.message-foot {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 2.2em;
    -ms-flex: 0 1 2.2em;
    flex: 0 1 2.2em
}

.message-box {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow-y: hidden;
    height: 100%
}

.message-box::-webkit-scrollbar {
    opacity: 0.9;
    -webkit-transition: opacity 0.5s, width 0.5s;
    -o-transition: opacity 0.5s, width 0.5s;
    transition: opacity 0.5s, width 0.5s
}

.message-box:hover {
    overflow-y: auto
}

.message-box li.message-user-left,.message-box li.message-user-right {
    margin-bottom: 0.7em
}

.message-box li.message-user-left {
    text-align: left
}

.message-box li.message-user-right {
    text-align: right
}

.message-box li.message-timeline {
    text-align: center;
    margin-bottom: 0.8em;
    font-size: 0.8em;
    color: #607D8B;
}

.message-user-icon {
    width: 2.0em;
    height: 2.0em;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 1em;
    margin:0.5em;
}

.message-user-name,.message-user-time {
    margin-left: 5em;
    margin-top:5px;
    margin-right:5px;
    opacity: 0.6;
    font-size: 80%;
}

.message-user-message {
    background-color: #00ac7d;
    border-radius: 0.4em;
    display: inline-block;
    -webkit-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
    color: white;
    padding: 0.4em 1em;
    margin: -0.25em 0.5em;
    max-width: 80vw;
    word-break: break-all;
}
.group-message {
    width: 10em;
    text-align: left;
    overflow: hidden;
    height: 1.5em;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.invitation-message{
    text-align: left;
    overflow: hidden;
    height: 1.5em;
    word-break: break-all;
}
.message-user-message:hover {
    background-color: #607D8B;
}

.inbox-compose-new {
    float: right
}

.box-compose {
    display: none
}
.personInChat {
    background-color: #607D8B;
    height: 2em;
    width: 2em;
    border-radius: 1em;
    text-align: center;
    vertical-align: middle;
    color: white;
    line-height: 2;
    font-size: 1.2em;
    margin: 0.5em;
}

@media (min-width: 992px) {
    #container-full {
		
    }
}
@media (min-width: 768px) {
    .message-user-message {
        max-width: 40vw;
    }
    
}
@media (max-width: 1150px) {
    .section-right {
        display:none
    }
    #sidebarCollapse{
         display:none;
    }
}

@media (max-width: 768px) {
    .container-left {
        /*display:none*/
        width:77vw;
        margin-bottom:2em;
    }
     .container-right{
        /*display:none*/
        width:77vw;
    }
    
    #container-full {
        display:block !important;
    }
    
    #sidebarCollapse{
         display:none;
    }
}