.dashboardMenu {
    margin: 1em 0;
	flex-grow: 1;
}

.dashboardMenu a {
	display: block;
    padding: 0.5em 1em;
	color: black;
	text-decoration: none;
	margin-bottom: 1em;
	background-color: hsla(0, 10%, 90%, 0.3);
	transition: background-color 0.5s ease-out;
	border: solid 1px hsl(0, 5%, 70%);
    border-radius: 0.4em;
}

.dashboardMenu a:hover {
    color: #00ac7d;
    cursor: pointer;
	background-color: white;
}

.dashboardMenu .theActive {
    background-color: #455A64;
    color: #ECEFF1;
}
.dashboardMenu .theActive:hover {
    background-color: #455A64;
    color: white;
}

.dashboardMenu a .fa {
    margin-right: 0.5em;
}

.dashboardFooter div {
    padding: 0.2em 1.5em;
    font-size: 0.9em;
    color: #455A64;
}

#LeftNavBar-placeholder {
	position: fixed;
	left: -25em;
	top: 0;
	height: 100vh;
	padding: 1em;
	padding-top: 4em;
	background-color: rgba(212, 212, 212, 0.9);
	transition: width 0.5s, padding 0.5s, left 0.5s;
	z-index: 3;
}

.leftNavPop {
	opacity: 0.5;
	font-size: 150%;
	position: fixed;
    left: 0;
    top: 3em;
    background-color: rgba(225, 225, 225, 0.8);
	padding: 0.25em 0.4em 0.25em 0.25em;
	border: solid 1px hsl(0,5%,50%);
    border-left: none;
    border-radius: 0 1em 1em 0;
	overflow: hidden;
	z-index: 2;
	
	transition: opacity 0.5s, padding 0.2s ease-out;
}

.leftNavPop:hover {
	opacity: 1;
	padding: 0.5em 0.8em 0.5em 0.5em;
}

.leftNavPush {
	display: none;
	opacity: 0;
	font-size: 150%;
	position: absolute;
    right: 0;
    top: 3em;
    background-color: #c8c8c8;
    padding: 0.5em 0.8em 0.5em 0.5em;
	overflow: hidden;
	border: solid 1px hsl(0,5%,50%);
    border-right: none;
    border-radius: 1em 0 0 1em;
	transition: opacity 0.5s ease-out;
}

#LeftNavBar-placeholder:hover .leftNavPush {
	opacity: 0.5;
}

#LeftNavBar-placeholder .leftNavPush:hover {
	opacity: 0.9;
}

#LeftNavBar-placeholder.reveal {
	width: 100%;
	left: 0;
}

.leftNavPop.reveal {
	left: -100vw;
	transition-delay: 0s;
}

.leftNavPush.reveal {
	display: initial;
}

.leftNavMain {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.leftNavMain hr {
	width: 100%;
}

@media (min-width: 500px) {
	#LeftNavBar-placeholder.reveal {
		width: 23em;
	}
}