#linkModal .modal-dialog {
    width: 624px
}

.projectsWidgetCont .links-container>a {
    vertical-align: top;
    margin: 0.7em;
    text-align: center
    margin: 0.5em;
	margin-bottom: 0.5em !important;
	/*max-width: 25em;*/
    padding: 0.5em 0.1em;
    display: inline-block;
    width:109px;
}

.profileWidgetCont .links-container>a {
    vertical-align: top;
    margin: 0.7em;
    text-align: center
    margin: 0.5em;
	margin-bottom: 0.5em !important;
	/*max-width: 25em;*/
    padding: 0.5em 0.1em;
    display: inline-block;
    width:100px;
}

.links-container a {
    text-decoration: none
}

.links-container>a>img {
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain
}

#addLinkBtn {
    height: 128px
}

.links-website-title {
    margin-top: 0.2em;
    text-align: center;
    border-radius: 0.4em;
    padding: 0.2em;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}
.links-container .links-website-title {
    transition: border-color 0.2s, color 0.2s;
    -o-transition: border-color 0.2s, color 0.2s;
    -webkit-transition: border-color 0.2s, color 0.2s;
    border: 1px solid #CCCCCC;
    color: #AAAAAA
}
.links-container .links-website-title:hover {
    border-color: #666666;
    color: #222222
}

.links-container .btn span {
    position: relative;
    top: 10%;
    font-size: 64px
}

.cross-mark {
    position: absolute;
    background-color: white;
    border: 1px solid #CCCCCC;
    border-radius: 1.8em;
    color: #222222;
    width: 23px;
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    -webkit-transform: translate(5.9em, 0.2em);
    -ms-transform: translate(5.9em, 0.2em);
    transform: translate(5.9em, 0.2em);
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.links-container a:hover .cross-mark {
    -webkit-transition-delay: 0;
    -o-transition-delay: 0;
    transition-delay: 0;
    opacity: 1;
}

#hashtags>span, #hashskills>span {
    cursor: pointer;
    background: #607D8B;
    padding: 0.5em 1em;
    display: inline-block;
    color: white;
    margin: 0.5em;
    border-radius: 0.4em;
    vertical-align: top;
    max-width: 100%;
}

#hashtags>span:hover, #hashskills>span:hover {
    opacity: 0.8
}
.deleteTagBtn {
    height: 1.5em;
    width: 1.5em;
    position: absolute;
    background: #F44336;
    border-radius: 50%;
    margin: -1.5em;
    box-shadow: 0 0 0.1em #607D8B;
    color: white;
    text-align: center;
    vertical-align: middle;
}