#content {
    margin: 0 auto;
    position: relative
}

#followers {
    font-weight: bold
}

#proj-cont {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px
}

#back-button {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px
}

#project-name {
    font-weight: 800;
    font-size: 28px;
    word-wrap: break-word;
    text-align: left
}

#wall-dataF hr {
    margin-top: 0;
    margin-bottom:0;
}

#editModals img.img-rounded{
    margin-top: 0 !important;
}

#wall-dataF h5, #commentModals h5, #commentModals h6, #shareModals h5, #shareModals h6 {
    margin-top: 7px !important;
}
#wall-dataF h6{
    margin-top: 2px !important;
}

#commentModals p{
    margin-bottom: 5px !important;
}

.user_name{
    margin-top:6px !important;
}

#img-cont {
    border-radius: 10px;
    padding: 0.2em
}

.img-rounded {
    width: 50%;
}

#proj-img {
    border-radius: 10px;
    border: 1px solid #607D8B;
    margin: 0 auto
}

#first-row {
    margin-bottom: 20px
}

#description-title {
    display: inline
}

#desc {
    margin-top: 15px;
    word-wrap: break-word;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis
}

#img-cont {
    margin-bottom: 10px
}

@media (max-width: 1600px) {
    .extra-padding {
        width:86%
    }
}

@media (min-width: 1600px) {
    .extra-padding {
        width:70%
    }
}

@media (min-width: 1900px) {
    .extra-padding {
        width:60%
    }
}

#add-icon {
    padding: 6px 20px;
    color: #00C085;
}

@media (max-width: 768px) {
    #proj-img {
        display:block;
        max-width: 100%;
        height: auto
    }

    #img-cont {
        min-width: 0px
    }
}

@media (min-width: 768px) {
    #proj-img {
        width:700px;
        height: 400px
    }
}

hr {
    border-color: #AAA!important
}

#projOverview {
    background-color: white;
    padding: 1em;
    margin: 1em 0;
    border-width: 1px;
    border-style: solid;
    border-radius: 0.4em;
    border-color: #B0BEC5;
    line-height: 1;
}
#projOverview p {
    margin-top: 0;
    margin-bottom: 1.5em;
}

ul.proj-tabs {
	background-color: lightgray;
	border-radius: 4px 4px 0 0;
}

ul.proj-tabs li,ul.proj-tabs li a {
    -webkit-transition: font-weight 0.5s, color 0.5s;
    -o-transition: font-weight 0.5s, color 0.5s;
    transition: font-weight 0.5s, color 0.5s
}

ul.proj-tabs li.active a,ul.proj-tabs li.active a:focus,ul.proj-tabs li.active a:hover {
    font-weight: bold;
    color: #00ac7d
}

.member {
    margin: 0.5em;
    width: 14em;
    display: inline-block;
    vertical-align: text-top;
    margin-top: -2px;
    background-color: #ECEFF1;
    border: solid 1px #B0BEC5;
    -webkit-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);	
}
.member:hover {
}

.member img {
    width: 10em;
    height: 10em;
    -o-object-fit: cover;
    object-fit: cover;
    margin: 1em auto;
}

.member .member-name,
.member .member-title,
.member .member-followers,
.member .member-projects {
    color: #455A64;
    overflow: hidden;
    margin: 0;
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background-color: white;
    -webkit-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
    padding: 0.5em;
}

.member .member-title,
.member .member-followers,
.member .member-projects {
    display: none;
}

.member .member-name:hover,
.member .member-title:hover,
.member .member-followers:hover,
.member .member-projects:hover {
    background-color: #CFD8DC
}

#btn2 {
    cursor: pointer;
    border-radius: 0.4em;
    background-color: white;
    color: #00C085;
    text-align: center;
    text-decoration: none;
    border: solid 1px #B0BEC5;
    height: 34px;
    padding: 9px 15px 9px 15px;
    line-height: 1;
}

#btn3 {
    cursor: pointer;
    border-radius: 0.4em;
    background-color: white;
    color: #00C085;
    text-align: center;
    text-decoration: none;
    border: solid 1px #B0BEC5;
    height: 33px;
    padding: 0.5em 1.5em;
    line-height: 4;
    font-size: 0.5em;
}

.undisplay {
    display: none!important
}

.display {
    display: block
}

#btn2:hover {
    background-color: #00C085;
    color: white;
    border: none
}

#btn3:hover {
    background-color: #00C085;
    border: none
}

#btn3:hover #mailbox-ico {
    color: white!important
}

#btn2:focus {
    outline: none
}

#btn3:focus {
    outline: none
}
#projOverview .projOverviewTitle {
    font-weight: bold;
    color: #00C085;
    margin: 0.5em 0;
    font-size: 0.9em;
}