* {
    font-family: 'Raleway', sans-serif
}


.card{  
    overflow:hidden; 
    width: 10em;
    height:18em;
    border: 1px solid rgba(0,0,0,.25); 
    border-radius: 6px; 
    margin: 12px; 
    padding: 8px;
    text-overflow:ellipsis;
}

.card img{
    border-radius: 50%;
	display: block;
	margin: auto;
}

.card-title, .card-text{
    overflow:hidden;
}
button#addProjButton,button#sortProjButton,button#manageMembersButton{
    margin: 0 0.5em;
	height: 2.4em;
}
h3 {
    margin: 0.5em 0;
    line-height: 2;
}
#content .col-md-8{
    width: 80%;
}
#project-container, #project-container-2 {
    background-color:white;
    border-width: 1px;
    border-style: solid;
    border-radius: 0.4em;
    border-color: #B0BEC5;
	padding: 1em;
	display: flex;
    flex-wrap: wrap;
}
@media (min-width: 768px) {
    #centering .col-sm-5 {
        width: calc(33% - 1.5em);
    }
}
.project-obj {
    background-image: url("http://via.placeholder.com/400x200");
    background-position: center center;
    background-size: cover;
    border: 1px solid #777777;
    border-radius: 0.5em;
    display: inline-block;
    padding: 1em;
    overflow: hidden;
    text-align: left;
    float: none
}
#content .row{
    margin-left: 0;
    margin-right: 0;
}
#content hr {
    margin-top: 0;
    margin-bottom: 0;
}
.project-obj-title {
    color: #00C085;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
	font-size: 160%;
	background-color: rgba(230, 230, 230, 0.8);
	border-radius: 2em;
	padding: 0.5em;
}

.project-obj-description {
    font-size: 1em;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
	background-color: rgba(230, 230, 230, 0.8);
	border-radius: 2em;
	padding: 0.5em;
}

.project-obj-timestamp {
    position: absolute;
    bottom: 1.5em;
    right: 1.5em;
	background-color: rgba(230, 230, 230, 0.8);
	border-radius: 2em;
	padding: 0.5em;
}

.project-obj .project-obj-content {
    opacity: 0;
    height: 17.5em;
    padding: 1.5em;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-transition: opacity 0.8s;
    -o-transition: opacity 0.8s;
    transition: opacity 0.8s
}

.project-obj:hover .project-obj-content {
    opacity: 1;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    transition: opacity 0.4s
}