.btn.btn-default {
	transition: background-color 0.3s;
}

.dashboard-top .panel-body {
    padding: 0;
}

.dashboard-top-mid {
    text-align: center;
}

#proj-team {
    text-align: center;
}

.detail-content {
    overflow-wrap: break-word;
}

#head-image {
    width: 100%;
    max-height: 20em;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-grow {
    flex-grow: 1;
    flex-basis: 0;
}

.follow-btn-container{
    display: inline-block;
    
}
.follower-count{
    display: inline-block;
    border-left: none;
    padding-left: 7px;
    padding: 0 7px;
    background-color:whitesmoke;
    color: #737373;
    font-size:11px;
    text-align: center;
    white-space: nowrap;
    height:30px;
    width: 30px;
    vertical-align: middle;
    line-height: 30px;
    border-radius: 0 5px 5px 0;
}
.proj-follow-btn{
    width:80px;
    height:30px;
    display: inline-block;
    border:solid 1px transparent;
    outline:0;
    background-color: #00ac7d;
    font-weight:500;
    font-size: 12px;
    text-decoration: none;
    white-space: nowrap;
    word-wrap: normal;
    line-height: normal;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 5px 0 0 5px;
    box-shadow:0 1px 0 rgba(0,0,0,0.05);
}

.proj-follow-btn:hover{
    background-color: #fefefe;
    border: none
}
.proj-follow-btn:hover .follow-btn-text{
    color: #00ac7d;
}

.proj-follow-btn:focus {
    outline: none
}
.follow-btn-text{
    color:#fefefe;
    cursor:pointer;
    line-height:normal;
    font-size:12px;
}

button.proj-follow-btn{
    -webkit-transition: background-color 0.2s, color 0.2s, width 0.5s;
    -o-transition: background-color 0.2s, color 0.2s, width 0.5s;
    transition: background-color 0.2s, color 0.2s, width 0.5s;
}

button.proj-follow-btn.following {
    background-color: #00ac7d;
}

button.proj-follow-btn.unfollow:hover {
    background-color: #EB2323!important;
}

button.proj-follow-btn.unfollow:hover .follow-btn-text{
    color:#fefefe; !important;
}

.flex-center {
    align-self: center;
}

#project-name {
    color: #455a64;
    text-align: center;
    margin: 0;
	border-bottom: solid 1px #b0cec5;
    padding: .5em;
}

#project-desc {
    line-height: 1.5;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}


#project-logo {
    width: 14em;
    height: 14em;
    object-fit: cover;
    margin-top: -8em;
    display: inline-block;
    -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 499px) {
    #project-logo{
        margin: auto;
    }
    .dashboard-top-mid{
        margin-top: 7em;
    }

}
@media only screen and (max-width: 768px) {

    #searchFilterFormSubmit{
        background: none;
        border: none;
    }
}
.detail-head {
    color: #00ac7d;
}

.project-message i.fa,
.project-btn-followers>span,
.project-btn-followers>strong {
    color: #00ac7d;
}


.dashboard-top-left,
.dashboard-top-right {
	padding-top: 0.5em;
}

.followers-cont {
    width: calc(100% - 30px);
    position: absolute;
    top: -4em;
	justify-content: space-between;
}
.followers-link-cont {
	height: 4em;
	overflow: hidden;
    max-width: 36%;
    margin-left: 0.5em;
	display: none;
}
@media (min-width: 500px) {
	.followers-link-cont {
		display: initial;
	}
}

ul#proj-modal-followers-list {
	padding-left: 0;
	text-align: center;
}

#proj-modal-followers-list>li {
	display: inline-block;
	border: black solid 1px;
	box-shadow: 0 0 2px black;
}

#proj-modal-followers-list>li>a>img {
	width: 8em;
	height: 8em;
	object-fit: cover;
}

.proj-modal-followers-name {
	text-align: center;
	padding: 0.5em;
	background-color: #EEE;
}

.project-toolbar {
	align-self: center;
	margin: 1em;
}

.dropdown-btn {
	display: inline-block;
}

.followers-link {
    height: 3em;
    width: 3em;
    margin: 0.5em;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}

.followers-mini {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.tab-pane {
    margin-top: 1em;
}

.dropdown-menu>li>a,
.dropdown-menu>li>form>a {
    display: block;
}
.dropdown-menu>li>form {
	margin-bottom: 0;
}
.dropdown-menu>li>a:hover,
.dropdown-menu>li>form>a:hover {
    color: #00ac7d;
	background-color: #f5f5f5;
}

@media (min-width: 500px) {
	#project-name {
		border-top: solid 1px #b0cec5;
	}
}