.search-result *,.search-result-pic-link{
    float:left
}
.clearfit{
    clear:both
}
.search-result{
    margin:.5em;
    border:1px solid #ddd;
    border-radius:.4em;
    background-color:#fff;
    overflow:hidden;
    width:18em;
    height:22em;
    position:relative;
    transition:all .5s;
    float:left;
    line-height:1.5
}
.search-result:hover{
    -webkit-box-shadow:0 8px 16px 0 rgba(0,0,0,.2);
    box-shadow:0 8px 16px 0 rgba(0,0,0,.2)
}
.search-result-title .search-result-pic-link{
    border-radius:0 0 4px;
    width:100%;
    text-align:center
}
.search-result-pic{
    width:8em;
    height:8em;
    background-color:#ddd;
    border-radius:.4em;
    margin:.5em 5em
}
.search-result-title{
    color:#00C085;
    max-height:2em;
    overflow:hidden;
    white-space:nowrap;
    width:100%
}
.search-result-description{
    overflow:hidden;
    margin:.5em;
    font-size:.9em;
    line-height:1.8;
    width:calc(100% - 1em)
}
.search-result-description:hover{
    text-overflow:clip;
    white-space:normal;
    word-break:break-all
}
.search-result-tags{
    margin:.5em
}
.search-result-tag{
    border:1px solid #00ac7d;
    display:inline-block;
    text-align:center;
    min-width:2em;
    max-width:8em;
    padding:.4em;
    border-radius:8px;
    overflow:hidden;
    margin:.4em;
    font-size:.8em;
    white-space:nowrap;
    text-overflow:ellipsis;
    transition:background-color .2s,color .2s
}
.search-result-tag:hover{
    background-color:#000;
    color:#fff;
    box-shadow:1px 1px 1px;
    text-overflow:clip;
    white-space:normal;
    word-break:break-all
}
#filter-adv-search,#filter-required{
    padding:6px;
    line-height:2
}
#search-results-container{
    margin:1em .5em;
    max-width:100%
}
#search-filter{
    background-color:#fff;
    padding: 0.8em;
    border-radius:.5em;
    border:1px solid #ddd;
    margin:1em .5em;
    width:22em;
    float:right;
    position:absolute;
    right:0;
    top:-9999px;
    z-index:1;
}
#search-filter-hider{
    font-size:initial;
    position:fixed;
    right:0;
    top:70px;
    padding:6px;
    border:1px solid #DDD;
    border-right:none;
    background-color:#fff;
    border-radius:16px 0 0 16px
}
#search-filter-hider.search-filter-shower{
    border-right:solid 1px #DDD;
    border-radius:16px;
    position:static;
    float:right
}
@media (min-width:992px){
    .search-result{
        padding-bottom:initial
    }
    #search-results-container{
        max-width:calc(100% - 330px)
    }
    #search-filter{
        position:initial;
        margin-top: 1.5em;
    }
    #search-filter-hider{
        opacity:0
    }
}
#search-filter h3{
    margin-top:0
}
#filOptions li{
    list-style:none
}
#filOptions input,#filOptions select{
    padding:.5em;
    margin:.5em;
    outline:0;
    border:none
}
#filOptions input[type=text],#filOptions select{
    border-bottom:solid 2px #00C085
}
#filApply{
    background-color:#00C085;
    border-radius:.4em;
    width: 100%;
    color:#fff;
    font-size: 1em;
    padding:1em 0;
    margin: auto;
}
.removable{
    display:inline-block;
    margin:.5em;
    padding:.5em;
    border:1px solid #888;
    border-radius:6px
}
.removable span{
    margin-right:.5em
}
#filter-type input[type=radio]{
    display:none
}
#filter-type input[type=radio]+label{
    margin-top:.5em;
    margin-left:.5em;
    border:1px solid #ccc;
    border-radius:.5em;
    padding:.5em 1em
}
#filter-type input[type=radio]+label:hover{
    background-color:#b2b2b2
}
#filter-type input[type=radio]:checked+label{
    color:#fff;
    background-color:#000
}
.panel-group:nth-child(2) {
	display: none!important;
}
#search-filters label {
	font-weight: normal;
	margin: 0.5em;
	line-height: 1;
}
#search-filter .panel-default {
	border: none;
	box-shadow: none;
}
#search-filter .panel-default>.panel-heading {
	background-color: transparent;
	border: none;
}
#search-filter .panel-title {
    margin-left: -1em;
    margin-bottom: 0;
    font-size: 1em;
    color: inherit;
    font-weight: bold;
}
#search-filter h3 {
    display: none;
}
#search-filter .panel-group {
	margin: 0;
	padding: 0.8em;
	border: none;
	border-bottom: 2px solid #e5e5e6;
}
#search-filter hr {
	display: none;
}
#search-filter .panel-collapse {
	line-height: 1.5;
}
