.clearfit {
	clear: both;
}

.search-result {
    margin: 1em 0;
    border: solid 1px #ddd;
    border-radius: 60px 8px 8px 60px;
	padding-bottom: 4em;
    background-color: white;
    overflow: hidden;
    max-height: 20em;
    position: relative;
    transition: all 0.5s;
}
.search-result:hover {
    -webkit-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.search-result-pic-link {
	float: left;
}

.search-result-title .search-result-pic-link {
	/*border-bottom: 1px solid #555555;*/
	border-radius: 0 0 4px 0;
    padding-right: 6px;
	margin-bottom: 6px;
}
.search-result-pic {
    width: 8em;
    height: 8em;
    background-color: #ddd;
    border-radius: 100%;
    margin: 0.5em 1em;
}

.search-result-title {
    color: #00C085;
    font-size: 1.2em;
    max-height: 2em;
    overflow: hidden;
    white-space: nowrap;
}

.search-result-description {
    max-height: 4em;
    overflow: hidden;
}
.search-result-description:hover{
    text-overflow: clip;
    white-space: normal;
    word-break: break-all;
}

.search-result-tags {
	background-color: white;
	position: absolute;
	bottom: 3px;
	right: 3px;
}

.search-result-tag {
	background-color: #DDDDDD;
	display: inline-block;
	text-align: center;
	min-width: 2em;
    max-width: 8em;
	padding: 0px 10px;
	border-radius: 8px;
    overflow: hidden;
    margin-right:3px;
    white-space: nowrap;
    text-overflow: ellipsis;
	transition: background-color 0.2s, color 0.2s;
}

.search-result-tag:hover {
	background-color: black;
	color: white;
	box-shadow: 1px 1px 1px;
    text-overflow: clip;
    white-space: normal;
    word-break: break-all;
}

#filter-adv-search,
#filter-required {
	padding: 6px;
}

#search-results-container {
	margin: 1em 0.5em;
	max-width: 100%;
}

#search-filter {
    background-color: white;
    padding: 1em;
    border-radius: 0.5em;
    border: solid 1px #ddd;
    margin: 1em 0.5em;
    width: 22em;
	float: right;
	
	position: absolute;
	right: 0;
	top: -9999px;
	z-index: 1;
}

#search-filter.search-filter-hided {
	top: 0;
}

#search-filter-hider {
	font-size: initial;
	position: fixed;
	right: 0;
	top: 70px;
	padding: 6px;
    border: solid 1px #DDDDDD;
    border-right: none;
    background-color: white;
	border-radius: 16px 0 0 16px;
}

#search-filter-hider.search-filter-shower {
	border-right: solid 1px #DDDDDD;
	border-radius: 16px;
	position: static;
	float: right;
}

@media (min-width: 992px) {
	.search-result {
		padding-bottom: initial;
	}
	#search-results-container {
		max-width: calc(100% - 330px);
	}
	#search-filter {
		position: initial;
		margin-top: 1em;
	}
	#search-filter-hider {
		opacity: 0;
	}
}

#search-filter h3 {
    margin-top: 0;
}
#filOptions li {
    list-style: none;
}
#filOptions input, #filOptions select {
    padding: 0.5em;
    margin: 0.5em;
    outline: none;
    border: none;
}
#filOptions input[type=text], #filOptions select {
    border-bottom: solid 2px #00C085;
}
#filApply {
    background-color: #00C085;
    border-radius: 0.4em;
    width: 6em;
    color: white;
    font-size: 0.9em;
    float: right;
}

.removable {
	display: inline-block;
	margin: 0.5em;
	padding: 0.5em;
	border: solid 1px #888;
	border-radius: 6px;
}

.removable span {
	margin-right: 0.5em;
}

#filter-type input[type="radio"] {
	display: none;
}
#filter-type input[type="radio"]+label {
	padding-top: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 0.5em;
	margin-top: 0.5em;
	margin-left: 0.5em;
	border: solid 1px hsl(0, 0%, 80%);
	border-radius: 0.5em;
}
#filter-type input[type="radio"]+label:hover {
	background-color: hsl(0, 0%, 70%);
}
#filter-type input[type="radio"]:checked+label {
	color: white;
	background-color: black;
}