.clearfit {
	clear: both;
}

.search-result {
    border: solid 1px #ddd;
    border-radius: 8px;
    margin: 1em 0;
    padding: 0.5em;
    line-height: 2;
    background-color: white;
    overflow: hidden;
    max-height: 10em;
    position: relative;
    transition: all 0.5s;
}
.search-result:hover {
    -webkit-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.search-result-pic-link {
	display: inline-block;
	vertical-align: top;
}
.search-result-pic {
    width: 8em;
    height: 8em;
    background-color: #ddd;
    border-radius: 8em;
    margin: 0.5em 1em;
}

.search-result-text {
	display: inline-block;
}

.search-result-title {
    color: #00C085;
    font-size: 1.2em;
    max-height: 2em;
    overflow: hidden;
}

.search-result-description {
    max-height: 6em;
    overflow: hidden;
}

#search-results-container {
	margin: 1em 0.5em;
}

#search-filter {
    background-color: white;
    padding: 1em;
    border-radius: 0.5em;
    border: solid 1px #ddd;
    margin: 1em 0.5em;
    width: 22em;
	float: right;
}

#search-filter h3 {
    margin-top: 0;
}
#filOptions li {
    list-style: none;
}
#filOptions input, #filOptions select {
    padding: 0.5em;
    margin: 0.5em;
    outline: none;
    border: none;
}
#filOptions input[type=text], #filOptions select {
    border-bottom: solid 2px #00C085;
}
#filApply {
    background-color: #00C085;
    border-radius: 0.4em;
    width: 6em;
    color: white;
    font-size: 0.9em;
    float: right;
}

.removable {
	display: inline-block;
	margin: 0.5em;
	padding: 0.5em;
	border: solid 1px #888;
	border-radius: 6px;
}

.removable span {
	margin-right: 0.5em;
}

#filter-type input[type="radio"] {
	display: none;
}
#filter-type input[type="radio"]+label {
	padding-top: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 0.5em;
	margin-top: 0.5em;
	margin-left: 0.5em;
	border: solid 1px hsl(0, 0%, 80%);
	border-radius: 0.5em;
}
#filter-type input[type="radio"]+label:hover {
	background-color: hsl(0, 0%, 70%);
}
#filter-type input[type="radio"]:checked+label {
	color: white;
	background-color: black;
}