@media only screen and (max-width: 810px) {
    .vertical-menu {
    }
}
.btn-info{
    background-color:#00ac7d!important;  
    
}
#form-btn{
    margin: 0;
    margin-right: 60px;
    display: flex;
    justify-content: center;
}
#wborder{
    border-left:1px solid black;    
}
@media only screen and (min-width: 2300px) {
    .container{
        width: 2000px !important;
    }
}
@media only screen and (max-width: 767px) {
    #wborder {
        border-left-style:none;
    }
    .card {
        width: calc(100% * (1/2) - 10px - 1px)
    }    
}

#home.container-s{
    position:relative;
    text-align:center;
}
.prole{
    width:165px !important;
    margin:0 auto;
    height:30px !important;
}
#home.card{
    background-color:#fff;
    padding-top:2em !important;
    padding-bottom: 2em !important;
    border-color: #c5c5c5;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.4em;
	display:inline-block;
	margin: 0.5em;
	vertical-align: top;
    width:24rem;
}
.followerUsername{
    font-size:17px;
}
#home.card img{
    border-radius: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.4em;
	-o-object-fit: contain;
	object-fit: contain;
	max-width: 80px;
	max-height: 80px;
}

.panel-group{
    background-color: white;
    margin-top: 3em;
    
}
.vertical-menu{
    padding: 0px;
}
.vertical-menu li {
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}
.vertical-menu ul{
    margin: 0px;
    padding: 0px;
}
.menu-list,
.project-menu-list,
.event-menu-list{
    width: 100%;
    height: 90px;
    padding-left: 2em;
}
.vertical-menu ul li h5{
    line-height: 50px;
}
.vertical-menu li.active {
    border-left: 3px solid#484848;
    pointer-events: none;  
       
}
/*
$('.vertical-menu').css({'border-right': 'none'});			
$('.contents').css({'border-left': '1px solid #808080'});*/
.contents{
    border-left: 1px solid #808080;
}
.vertical-menu li:hover{
    background-color: #F8F8F8;
    border-left: 3px solid #808080;    
}

#profile, #password, #account, #education,
#projectCategory, #projectInfo, #projectLocation, #projectURL, #projectMember,
#eventCategory, #eventInfo, #eventLocation, #eventURL, #eventMember,
#eventDate, #eventLocation, #eventInfo, #eventMember{
    margin-bottom: 2em;
    display: none;
}

#images,
#projectImage,
#eventImage{
    margin-bottom: 2em;
    display:block;    
}
.contents,
.projectContents,
.eventContents{
    padding-left: 3em;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    float: right
}

#recruitSwitch,
#countrySwitch {
    float: left
}

label {
    margin-top: 5px
}

.switch input {
    display: none
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}

input:checked+.slider {
    background-color: #2196F3
}

input:focus+.slider {
    -webkit-box-shadow: 0 0 1px #2196F3;
    box-shadow: 0 0 1px #2196F3
}

input:checked+.slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px)
}

.slider.round {
    border-radius: 17px
}

.slider.round:before {
    border-radius: 50%
}

img#avatarImg {
    width: 270px;
    height: auto;
    border: 1px solid #AAA
}

img#bannerImg {
    height: 369px;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border: 1px solid #AAA
}
#banner-form{
    margin: 0em 2em;
}

span#switchStatusMessage {
    -webkit-transition: color 0.5s, font-size 0.5s;
    -o-transition: color 0.5s, font-size 0.5s;
    transition: color 0.5s, font-size 0.5s;
    font-size: 1.4em
}

span#switchStatusMessage.green-light {
    color: green;
    font-size: 2.3em
}

div.save-message {
    display: inline-block;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    opacity: 0.7;
    margin-left: 0.8em
}

div.error-message {
    color: red;
    opacity: 1.0
}

div.save-message.fade {
    -webkit-transition: opacity 1.5s;
    -o-transition: opacity 1.5s;
    transition: opacity 1.5s;
    opacity: 0.0
}

h4.panel-title a {
    display: block
}

#content .panel-default>.panel-heading {
    cursor: pointer;
    background-color: white;
}

textarea#inputDesc {
    resize: none;
}

#avatarCropper {
    position: absolute;
    background-color: white;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    margin: 0.5em
}

#avatarCropper a:hover {
    text-decoration: none
}

#cropperiframe {
    border: none;
    height: 48em;
    width: 100%
}
#eduChange, #password,
#projectCategory, #projectLocation, #projectURL,
#eventCategory, #eventLocation, #eventURL,
#eventDate, #eventLocation, #eventImage{
    margin-top: 3em;
}
#eduChange > .row,
#locChange .row,
#timeChange .row,
#projectInfo .row,
#eventInfo .row{
    margin-bottom: 1em;
}
#home{
    display: flex;
    flex-wrap:wrap;
}
/* Manage Members width */
#UpdateDescription{
    margin-right: 1em;
}