.insta-feed,
.soundcloud-feed {
    max-width: 300px;
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95)
}

.youtube-feed {
    width: 100%;
    text-align: center
}

.youtube-feed iframe {
    width: 100%;
    height: 64vh;
    padding: 2em;
}

.cpEmbeded,
.cp_embed_wrapper,
.cp_embed_wrapper iframe {
    height: 64vh;
}

.fb-page {}

.insta-feed {
    vertical-align: top;
}