.insta-feed,
.soundcloud-feed {
    min-width: 300px;
    margin: 4px;
}

.youtube-feed {
    width: 100%;
    text-align: center
}

.youtube-feed iframe {
    width: 100%;
    height: 64vh;
    padding: 2em;
}

.cpEmbeded,
.cp_embed_wrapper,
.cp_embed_wrapper iframe {
    height: 64vh;
}

.fb-page {}

.insta-feed {
    vertical-align: top;
}

@media (max-width: 990px) {
	.youtube-feed iframe {
		width: 100%;
		height: 38vh;
		padding: 2em;
}
}

@media (max-width: 400px) {
	.youtube-feed iframe {
		padding: 3em 0.6em;
}
}