.navBar-placeholder nav {
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    /* font-family: 'Nunito',
 sans-serif;
*/
    line-height: 150%;
    background-color: #e8e8e8;
}

.navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
}

.navbar {
    background-color: #00C085 !important;
    background: -webkit-linear-gradient(left top, #00C085, #009035); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #00C085, #009035); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #00C085, #009035); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #00C085, #009035); /* Standard syntax */
}

.navbar a {
    color: white !important;
}

#logo-brand {
    font-size: 30px !important;
}

#sign-up:hover {
    background-color: transparent;
}

.notifBadge {
    position: absolute;
    bottom: -2px;
    right: 6px;
    background-color: blue;
}

.navbar-fixed-top {
    background-color: rgba(255, 255, 255, 0.7);
}

.navbar-collapse.collapse {
    display: block !important;
}

.navbar-nav>li,
.navbar-nav {
    float: left !important;
}

.navbar-nav.navbar-right:lastchild {
    margin-right: -15px !important;
}

.navbar-left {
    float: left !important;
}

.navbar-right {
    float: right !important;
}

.navbar .dropdown-menu {
    background-color: black;
    text-align: left;
    color: white;
    transform: translateY(14px);
}

.padded {
    width: 25em;
	max-height: 18em;
	overflow-y: auto;
}

.padded > li {
    margin: 0.5em 1em;
	padding: 0.5em 1em;
	border-radius: 10px;
	background-color: #222222;
}

.message-container {
	margin-left: 3.8em;
	text-align: justify;
}

.message-container .label {
	margin-left: 0.4em;
}

#optionDrop>li>a:focus {
    background-color: rgb(60, 60, 60);
}
#optionDrop>li>a:hover {
    background-color: rgb(80, 80, 80);
}
#optionDrop>li>a>i {
    position: absolute;
    right: 7px;
    width: 32px;
    text-align: center;
    font-size: larger;
}

#notifDrop::-webkit-scrollbar {
	width: 0px;
}

#notifDrop>li {
	transition: background-color 0.5s;
}
#notifDrop>li:hover {
	background-color: #444444;
}

.dropdown-toggle,
.dropdown-toggle:focus,
.dropdown-toggle:hover {
    background-color: rgba(0, 0, 0, 0) !important;
}

.navbar-header {
    float: none;
}

.link-input-read {
    width: 90%;
    margin-left: 1em;
}

@media (max-width: 1159px) {
    /*    .navbar-form {
        margin-left: 20em !important;
    }
*/
    /*  #search-box {
        width: auto !important;
    }*/
}

@media (max-width: 768px) {
    .navbar-header {
        float: left;
    }
    .navbar {
        border-radius: 4px;
        min-width: 400px;
    }
    .nav-tabs-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
    }
    .nav-tabs-justified > .active > a,
    .nav-tabs-justified > .active > a:hover,
    .nav-tabs-justified > .active > a:focus {
        border-bottom-color: #fff;
    }
    .nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav-justified > li > a {
        margin-bottom: 0;
    }
    .nav-tabs.nav-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
    }
    .nav-tabs.nav-justified > .active > a,
    .nav-tabs.nav-justified > .active > a:hover,
    .nav-tabs.nav-justified > .active > a:focus {
        border-bottom-color: #fff;
    }
    .nav-tabs.nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav-tabs.nav-justified > li > a {
        margin-bottom: 0;
    }
    .navbar-right .dropdown-menu {
        right: 0;
        left: auto;
    }
    .navbar-right .dropdown-menu-left {
        right: auto;
        left: 0;
    }
    .container {
        min-width: 400px;
    }
    .navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none;
    }
    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
    .navbar-collapse.in {
        overflow-y: visible;
    }
    .navbar-fixed-top .navbar-collapse,
    .navbar-static-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        padding-right: 0;
        padding-left: 0;
    }
    .container > .navbar-header,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container-fluid > .navbar-collapse {
        margin-right: 0;
        margin-left: 0;
    }
    .navbar-static-top {
        border-radius: 0;
    }
    .navbar-fixed-top,
    .navbar-fixed-bottom {
        border-radius: 0;
    }
    .navbar-toggle {
        display: none;
    }
    .navbar-nav {
        float: left;
        margin: 0;
    }
    .navbar-nav > li {
        float: left;
    }
    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .navbar-nav.navbar-right:last-child {
        margin-right: -15px;
    }
    .navbar-left {
        float: left !important;
    }
    .navbar-right {
        float: right !important;
    }
    .navbar-form .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .navbar-form .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
    .navbar-form .control-label {
        margin-bottom: 0;
        vertical-align: middle;
    }
    .navbar-form .radio,
    .navbar-form .checkbox {
        display: inline-block;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .navbar-form .radio input[type="radio"],
    .navbar-form .checkbox input[type="checkbox"] {
        float: none;
        margin-left: 0;
    }
    .navbar-form .has-feedback .form-control-feedback {
        top: 0;
    }
    .navbar-form {
        width: auto;
        padding-top: 0;
        padding-bottom: 0;
        margin-right: 0;
        margin-left: 0;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-form.navbar-right:last-child {
        margin-right: -15px;
    }
    .navbar-text {
        float: left;
        margin-right: 15px;
        margin-left: 15px;
    }
    .navbar-text.navbar-right:last-child {
        margin-right: 0;
    }
    .navbar-form {
        margin-left: 0em !important;
    }
    #search-box {
        width: auto !important;
    }
}

@media (max-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }
    .navbar-right {
        float: left !important;
    }
    #logo-brand {
        font-size: 18px !important;
    }
    #drop {
        position: absolute !important;
        background-color: black !important;
    }
}

.nav-item,
.navbar-nav>li>a {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-form {
    padding-left: 0;
    border-top: 0;
}

.input-group>input,
.input-group-btn {
    width: auto;
    /* Shrinks the search bar. If removed, the search bar expands across the screen. */
}

.navbar .form-control {
    border-radius: 4px !important;
    padding-right: 2.2em;
}

.navbar .input-group-btn>.btn {
    margin-left: -2.8em !important;
    background-color: transparent;
    border-color: transparent;
    z-index: 7 !important;
}

li.navbar-btn>a>span.collapse-text,
li.navbar-btn>a>i {
    vertical-align: middle;
}

@media (min-width: 768px) {
    li.navbar-btn>a>span.collapse-text {
        display: none;
    }
}

li.navbar-btn>a>span.collapse-text {
    margin-right: 12px;
}

#btnMenu {
    text-align: right;
}

#btnMenu>ul>li>a>i {
    text-align: center;
    width: 30px;
}

.navbar-toggle {
    margin-right: 22px;
}

.navbar-form,
.navbar-nav {
    margin-left: 0;
    margin-right: 0;
    border-bottom: 0;
}

.navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
    right: 34px;
    position: absolute;
}


/*.navbar-form {
    margin-left: 27em;
}*/

.icon-bar {
    background-color: #337ab7;
}

.loadOver {
    background-color: white;
    z-index: 500;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

#search-box {
    width: 32em;
}

.searchbox-input {
    top: 0;
    right: 0;
    border: 0;
    outline: 0;
    background: #dcddd8;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0px 55px 0px 20px;
    font-size: 20px;
    color: red;
}

.searchbox-input::-webkit-input-placeholder {
    color: #d74b4b;
}

.searchbox-input:-moz-placeholder {
    color: #d74b4b;
}

.searchbox-input::-moz-placeholder {
    color: #d74b4b;
}

.searchbox-input:-ms-input-placeholder {
    color: #d74b4b;
}

.searchbox-icon,
.searchbox-submit {
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    top: 0;
    font-size: 22px;
    right: 0;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    color: #dcddd8;
    background: #172b3c;
}

.searchbox-open {
    width: 100%;
}

@media (max-width: 500px) {
    #form-search {
        width: 125px;
    }
    #search-box {
        width: 10em;
    }
    .navbar-nav {
        right: 18px;
    }
}


/*No User Styles*/

#options {
    margin-top: 8px;
}

#theLogIn {
    padding: 1em;
    position: fixed;
    top: 5em;
    background-color: rgba(0, 0, 0, 0.9);
    right: 10vw;
    border-radius: .5em;
    color: white;
    z-index: 1000;
}

#theLogIn a {
    text-decoration: none;
    color: #9e9e9e;
    visibility: "hidden";
}

input,
button {
    border: 0;
    padding: .5em;
}

#theLogIn label {
    margin: 0;
}

#theLogIn table {
    border-collapse: separate;
}

#theLogIn input,
textarea {
    line-height: normal;
    font-size: .8em;
    color: white;
}

#theLogIn input {
    color: black;
}

#spaced {
    padding-bottom: 6px;
}

#email,
#pass {
    border-radius: 0 4px 4px 0 !important;
}


/*End of no user styles*/


/*Centering*/

#centering {
    position: relative;
    top: 6em;
    width: 100%;
}
