<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Ustart MyEvents</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway">
	<link rel="stylesheet" type="text/css" href="/ustart_front/css/events_m.css" />
	<script src="/ustart_front/js/events_m.js"></script>
	<script src="/ustart_front/js/ascii-convert.js"></script>
 
</head>

<body>
    <style>
        .card-title, .card-text{
            text-overflow: ellipsis;
        }
        #event-container, #event-container-2{
            justify-content: left;
        }
    </style>
    <input type="hidden" id='pageiden' value='{{.Page}}'>
    <div id="centering">
        <div id="content">
            <div class="container">
                <h1>
                    <span id="header-events">Current Events</span>
					<button id="sortEventButton" type="button" class="btn btn-default pull-right">
                        <i class="fa fa-sort-amount-desc"></i>
                    </button>   
                    <a href="/EventNewMembers/" title="Manage member join requests">
						<button id="manageMembersButton" type="button" class="btn btn-default pull-right">
							<i class="fa fa-user-circle"></i>
						</button>
					</a>
					<a href="/StartEvent/">
						<button id="addEventButton" type="button" class="btn btn-default pull-right">
							<i class="fa fa-plus-square"></i>
						</button>
					</a>                                     
                </h1>
                <div id='event-container' class='row'>
                    <!-- 
                        'FirstName' = evnt.Name
                        'Bio' = evnt.Description
                        'Image' = evnt.Avatar
                        'Username' = evnt.URLName
                        'DocID' = eventID
                        'Notifications' = len(evnt.MemberReqReceived)
                        'Interface' = evnt.Tags                    
                    -->
                    {{if .ListOfHeads}}
					{{range $event := .ListOfHeads}}
					<div class="card">
						<a href="/Event/{{$event.Username}}">
                            <img id="event-preview{{$event.DocID}}" class="img-responsive" src="" />							
                        </a>
						<script>
                            $("#event-preview{{$event.DocID}}").attr('src', {{ $event.Image }});</script>                        
						<div class="card-body">
							<h4 class="card-title">
								<a href="/Event/{{$event.Username}}">{{$event.FirstName}}</a>
							</h4>
                             <span class="text-muted mx-auto">{{$event.Category}}</span>
                            <hr>
							<p class="card-text">
								<script>readRuneArray({{ $event.Bio }});</script>
							</p>
						</div>
					</div>
					{{end}}
                    {{else}}
                       <p> You are currently not attending or hosting any events.</p>
                    {{end}}

                                   
            </div>
            </div>
        </div>
    </div>
</body>

</html>