<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Ustart Event Title</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <script src="/ustart_front/js/ascii-convert.js"></script>
</head>

<body>
    <input type="hidden" id="pageiden" value='{{.Page}}'>
    <div id="centering">
        <div class="container">
            <div class="tab-content">
                <div id="prof-about" class="tab-pane fade in active">
                    <img id="eventAvatar" />
                    <script>$("#eventAvatar").attr("src", {{.Event.Avatar }})</script>
                    <div>
                        {{.Event.Name}}
                    </div>
                    <div>
                        Starts: {{.Event.EventDateStart}}<br/>
                        Ends: {{.Event.EventDateEnd}}
                    </div>
                    <div>
                        {{.Event.Location}}
                    </div>
                    {{if .Event.Description}}
                    <div>
                        <script>readRuneArray({{.Event.Description}});</script>
                    </div>
                    {{end}}
                    <!-- project widget -->
                    <div id="projectDisplay" class="ui-state-default widgetListItem">
                        <div class="projectsWidgetCont">
                            <div class="widgetTitle">
                                {{if eq ($.Page) ($.DOCID)}}
                                <span class="pull-right fa fa-2x fa-pencil" data-toggle="modal" data-target="#projectDisplayModal"></span>
                                {{end}}
                                <h4>Project Display</h4>
                            </div>
                            <div class="widgetBody">
                                {{range $project := .ListOfProjects}}
                                <a class="btn btn-default projectsColumn" href="/Projects/{{$project.Username}}" data-project="{{$project.DocID}}" data-project-visible="{{$project.Followed}}">
                                    <div class="columnImage" data-toggle="tooltip" data-placement="bottom" title="{{$project.FirstName}}">
                                        <img id="proj-preview{{$project.DocID}}" class="img-responsive" src="" />
                                        <script>
                                            $("#proj-preview{{$project.DocID}}").attr('src', {{ $project.Image }});
                                        </script>
                                        <div class="columnTitle">{{$project.FirstName}}</div>
                                    </div>
                                </a>
                                {{end}}
                            </div>
                        </div>
                    </div>
                    <!--end project widget -->
                    <!-- people widget -->
                    <div id="projectDisplay" class="ui-state-default widgetListItem">
                        <div class="projectsWidgetCont">
                            <div class="widgetTitle">
                                {{if eq ($.Page) ($.DOCID)}}
                                <span class="pull-right fa fa-2x fa-pencil" data-toggle="modal" data-target="#peopleDisplayModal"></span>
                                {{end}}
                                <h4>Attendes</h4>
                            </div>
                            <div class="widgetBody">
                                {{range $person := .ListOfAttendes}}
                                <a class="btn btn-default projectsColumn" href="/Profile/{{$person.Username}}" data-person="{{$person.DocID}}" data-person-visible="{{$person.Followed}}">
                                    <div class="columnImage" data-toggle="tooltip" data-placement="bottom" title="{{$person.FirstName}}">
                                        <img id="person-preview{{$person.DocID}}" class="img-responsive" src="" />
                                        <script>
                                            $("#person-preview{{$person.DocID}}").attr('src', {{ $person.Image }});
                                        </script>
                                        <div class="columnTitle">{{$person.FirstName}} {{$person.LastName}}</div>
                                    </div>
                                </a>
                                {{end}}
                            </div>
                        </div>
                    </div>
                    <!--end people widget -->
                </div>
            </div>
        </div>
    </div>
</body>

</html>