<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Ustart {{.UserInfo.Username}} Followers</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="/ustart_front/css/followers.css" rel="stylesheet" type="text/css" />
    <link href="/ustart_front/css/profile.css" rel="stylesheet" type="text/css" />
	<script src="/ustart_front/js/ascii-convert.js"></script>
    <script src="/ustart_front/js/follow.js"></script>
    <script src="/ustart_front/js/profile.js"></script>
    <script>
        var userID = {{.Page}};
        var doc = {{.DOCID}};
        var port = location.port;
        var followstatus={{.FollowingStatus}};
        $(document).ready(function(){
            console.log(window.location.hash);
        if(window.location.hash != "") {
            $('a[href="' + window.location.hash + '"]').click()
        }
        });
    </script>
</head>
<body>
    <div id="centering">
		<img id="head-image">
        {{ if eq .UserInfo.Banner ""}}
        <script>
             $('#head-image').attr('src', "_blank");
        </script>
        {{else}}
        <script>
              $("#head-image").attr("src",{{.UserInfo.Banner}});
        </script>
        {{end}}
        <!-- Vertical content -->
        <div id="content" class="container">
			<div class="flex-box">
				<div class="dashboard-left">
					<div class="user-info">
						<div class="user-img-container">
							<img class="user-img" id="user-avatar">
							{{if eq ($.Page) ($.DOCID)}}
							<div class="user-img-option">
								<a href="/Settings/#avatarcollapse">Change Profile Image</a>
							</div>
							{{end}}
						</div>
						<script>
				              $("#user-avatar").attr("src",{{.UserInfo.Avatar}});
						</script>
						<div id="user-brief-info">
								<div id="info-wrap">
								<div id="name-cont">
									<h3 style="margin-bottom: 0.2em;">
										<a data-toggle="tooltip" title= "{{.UserInfo.FirstName}} {{.UserInfo.LastName}}" data-placement='bottom'  href="/profile/{{.UserInfo.Username}}">
											
											<strong id="name" style="vertical-align: middle">{{.UserInfo.FirstName}} {{.UserInfo.LastName}}</strong>
										</a>
										<span class="dot">
											<span class="active">
												<i class="fa fa-circle" aria-hidden="true" data-toggle="tooltip" title="Active" style="vertical-align: middle"></i>
											</span>
										</span>
									</h3>
								</div>
							</div>
							<div id="brief-info" style="text-align: left; padding: 1em 1em 0 1em;">
								{{ if and .UserInfo.Location.State .UserInfo.Location.Country .UserInfo.Location.City }}
								<div id="location-cont" style="color:#00C085">
									<i class="fa fa-map-marker" aria-hidden="true" style="color:#00C085;"></i> Location
									<p id="location" style="color:black">{{.UserInfo.Location.City}}, {{.UserInfo.Location.State}}, {{.UserInfo.Location.Country}}</p>
								</div>
                                {{else}}
                                {{if eq ($.Page) ($.DOCID)}}
                                    <div id="location-cont" style="color:#00C085">
									   <i class="fa fa-map-marker" aria-hidden="true" style="color:#00C085;"></i> Location
                                        <p id="location" style="color:black">Please update your location in <a href="/Settings/">settings.</a></p>
								    </div>
                                {{ end }}
								{{ end }}
								{{ if .UserInfo.University }}
								<div style="color:#00C085;">
									<i class="fa fa-graduation-cap" aria-hidden="true" style="color:#00C085;"></i> Education
									<p style="color:black">{{.UserInfo.University}}</p>
								</div>
                                {{else}}
                                    <div style="color:#00C085;">
									<i class="fa fa-graduation-cap" aria-hidden="true" style="color:#00C085;"></i> Education
									<p style="color:black">Please update your Education in <a href="/Settings/">settings.</a></p>
								</div>
								{{ end }}
								{{ if .UserInfo.Majors }}
								<div style="color:#00C085;">
									<i class="fa fa-graduation-cap" aria-hidden="true" style="color:#00C085;"></i> Major
									<p style="color:black">
										{{range $major := .UserInfo.Majors}}
											{{$major}}
										{{end}}
									</p>
								</div>
								{{ end }}
                                 <div style="color:#00C085;">
                                    <i class="fa fa-birthday-cake" aria-hidden="true" style="color:#00C085;"></i> Birthday
                                    <p style="color:black">
                                   <script>
									var dateTime = new Date({{.UserInfo.Dob}});
                                    document.write(month[dateTime.getUTCMonth()]+" "+ dateTime.getUTCDate()+","+dateTime.getFullYear());
                                    </script>
                                    </p>
                                </div>
								{{if .UserInfo.Phone}}
								<div id="contact-phone" style="color:#00C085;">
									<i class="fa fa-phone" aria-hidden="true" style="color:#00C085;"></i> Phone
									<p style="color:black">{{.UserInfo.Phone}}</p>
								</div>
								{{end}}
							</div>
						</div>
						<hr>
						<div class="user-desc">
							<p style="margin-bottom: 0;">
								{{if not .UserInfo.Description}}
									<i>No Description</i>
								{{else}}
								<div class="ellipsis">
								<a href="#description_modal" data-toggle="modal"> 
									<span id="description" style ="color:black">
										<script>readRuneArray({{.UserInfo.Description}});</script>
									</span>
								</a>
								</div>
								<div id="description_modal" class="modal fade" style="width:60%; margin: 0 auto;">
										<div class="modal-dialog modal-sm">
												<div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title">About</h4>
                                                    </div>
													<div class="modal-body">
														<strong>Description: </strong>
															<script>readRuneArray({{.UserInfo.Description}});</script>
													</div>
												</div>
											</div>									
                                </div>
								{{end}}
                            </p>
						</div>	
						<hr>
						<div id="user-nums">
							<div id="followers">
                                <h4>Followers </h4>
                                <a id="followerTabRedirect" data-toggle="tooltip" data-placement="top" title="{{.Followers}} Followers"><span id="num-followers" style="font-weight: bold">{{.Followers}}</span></a>
                                <h6>USERS</h6>
							</div>
							<div id="following">
                                 <h4>Following </h4>
                                <ul  id ="container-follow">
								<li><a id="followingTabRedirect" data-toggle="tooltip" data-placement="top" title="{{.UserFollowing}} User Following">
								<span id="num-following" style="font-weight: bold">{{.UserFollowing}}</span> <h6>USERS</h6></a></li>
                                    
                                <li><a id="projfollowingTabRedirect" data-toggle="tooltip" data-placement="top" title="{{.ProjFollowing}} Project Following"> <span id="proj-following" style="font-weight: bold">{{.ProjFollowing}}</span><h6> PROJECTS</h6> </a></li>
                                </ul>
							</div>
                              <script>
                                 $("#followerTabRedirect").click(function() {
                                    $('a[href="#FollowersTab"]').tab('show');
                                 });
                                $("#followingTabRedirect").click(function() {
                                    $('a[href="#FollowingTab"]').tab('show');
                                 });
                                $("#projfollowingTabRedirect").click(function() {
                                    $('a[href="#ProjFollowingTab"]').tab('show');
                                 });
                            </script>
							<button class="btn btn-default message-btn" style="display: none;"><i class="fa fa-envelope"></i></button>
							<!-- if user is visiting the page -->
							{{if ne ($.Page) ($.DOCID)}}
							<button id="btn1" class="btn followButton" rel="6">Follow</button>
							<div class="profile-menu dropdown">
								<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
									<i class="fa fa-ellipsis-v"></i>
								</button>
								<ul class="dropdown-menu dropdown-menu-right">
									<li>
										<a id="block-user" href="#">
											<i class="fa fa-ban"></i> Block
											<span class="block-user-text"></span> User</a>
									</li>
								</ul>
							</div>
							{{end}}
						</div>
					</div>
				</div>
                <script type="text/javascript">
                    $(document).ready(function() {
                        var pageID={{.Page}};
                        if(followstatus == true) {
                            $('#btn1').attr('class', 'btn followButton following');
                            $('#btn1').text('Following');
                        }
                        else {
                            $('#btn1').attr('class', 'btn followButton');
                            $('#btn1').text('Follow');
                        } 
                        $('#btn1').hover(function () {
                            $button = $(this);
                            if ($button.hasClass('following')) {
                                $button.addClass('unfollow');
                                $button.text('Unfollow');
                            }
                        }, function () {
                            if ($button.hasClass('following')) {
                                $button.removeClass('unfollow');
                                $button.text('Following');
                            }
                        });
                        $('#btn1').click(function(e) {
                            $( "#btn1" ).prop( "disabled", true );
                            $.ajax({
                                type: 'GET',  
                                url: 'http://k12start.today:'+port+'/AjaxUserFollowsUser/',
                                contentType: "application/json; charset=utf-8",
                                data: {userID:pageID},
                                success: function(data) {
                                    var totalFollowers = parseInt($('#num-followers').html());
                                    if ($('#btn1').hasClass('following')) {
                                        //$.ajax(); Do Unfollow
                                        console.log("Let's Unfollow");
                                        //$.ajax(); Do Unfollow
                                        $('#btn1').removeClass('following');
                                        $('#btn1').removeClass('unfollow');
                                        $('#btn1').text('Follow');
                                        $('#num-followers').html(totalFollowers-1);
                                        $("#followstat").val("no");
                                        followstatus =false;
                                    } else {
                                        // $.ajax(); Do Follow
                                        console.log("Let's follow");
                                        // $.ajax(); Do Follow
                                        $('#btn1').addClass('following');
                                        $('#btn1').text('Following');
                                        $('#num-followers').html(totalFollowers+1);
                                        $("#followstat").val("yes");
                                        followstatus =true;
                                    }
                                    $( "#btn1" ).prop( "disabled", false );
                                },
                                error: function(error) {
                                    console.log("It just doesn't work");
                                    console.log(error);
                                }
                            });
                        });
                    });
                </script>
				<div class="menu-wrap">
                    <div class = "main">
					<ul class="nav nav-pills nav-pills-custom-minimal custom-minimal-bottom proj-tabs">
                         <li class="">
                            <a class=""  data-toggle="tab" href="#FollowersTab">Followers</a>
                        </li>
                        <li class="">
                        <a class="" data-toggle="tab" href="#FollowingTab">User Following</a>
                       </li>
                       <li class="">
                        <a class="" data-toggle="tab" href="#ProjFollowingTab">Project Following</a>
                       </li>
					</ul>
					<div class="tab-content">
						<div id="FollowersTab" class="tab-pane fade in">
                            {{ if eq (len .ListOfHeads) (0) }}
                             <h5>You have no followers.</h5>
                            {{end}}
							{{range $follower := .ListOfHeads}}
							<div class="card follow-card">
								<div class="container-s">
                                    <a href="/profile/{{$follower.Username}}">
										<img id="followerAvatar{{$follower.Username}}" class="image"/>
										<div><b class="followerUsername" >{{$follower.FirstName}} {{$follower.LastName}}</b></div>
                                    </a>
                                     <span class="text-muted">{{$follower.Category}}</span>
                                    <hr>
                                    <div class = "search-result-tags">
                                        {{range $bar := $follower.Tags}}
                                       <span class="search-result-tag"> {{index $bar}}</span>
                                        {{end}}
                                    </div>
                                    <br>
                                    <script>
										$('#followerAvatar{{$follower.Username}}').attr('src', '{{$follower.Image}}');
									</script>
                                    {{if ne ($follower.DocID) ($.DOCID)}}
                                        {{if eq ($follower.Followed) false }}
                                        <button class="btn btn-primary followButton" id={{$follower.DocID}} rel="6">Follow</button>
                                        {{end}}
                                        {{if eq ($follower.Followed) true }}
                                        <button class="btn btn-primary followButton" id={{$follower.DocID}} rel="6">Unfollow</button>
                                        {{end}}
                                        <button class="btn btn-default message-btn" onclick="location.href='/ch/@'+{{$follower.Username}}"><i class="fa fa-envelope"></i></button>
                                    {{end}}
								</div>
							</div>
							{{end}}
                            <script>
                               $('body').on("click", ".followButton", function(e) {
                                   $(e.currentTarget).prop( "disabled", true );
                                   var docID = e.currentTarget.id;
                                   $.ajax({
											type: 'GET',  
											url: 'http://k12start.today:'+port+'/AjaxUserFollowsUser/',
											contentType: "application/json; charset=utf-8",
											data: {userID:docID},
											success: function(data) {
                                                if ($(e.currentTarget).text()=="Follow"){
                                                    $(e.currentTarget).text('Unfollow');
                                                }
                                                else if ($(e.currentTarget).text()=="Unfollow"){
                                                    $(e.currentTarget).text('Follow');
                                                }
                                                $(e.currentTarget).prop( "disabled", false );
                                            },
											error: function(error) {
												console.log("It just doesn't work");
												console.log(error);
											}
										});
                                });
                             </script>
						</div>
						<div id="FollowingTab" class="tab-pane fade in">
                            {{ if eq (len .ListOfHeads2) (0) }}
                                <h5>You have not followed any user.</h5>
                            {{end}}
							{{range $following := .ListOfHeads2}}
							<div class="card follow-card">
								<div class="container-s">
                                    <a href="/profile/{{$following.Username}}">
										<img id="followingAvatar{{$following.Username}}" class="image"/>
										<div><b class="followingUsername">{{$following.FirstName}} {{$following.LastName}}</b></div>
                                        <script>
										   $('#followingAvatar{{$following.Username}}').attr('src', '{{$following.Image}}');
									    </script>
                                    </a>
                                     <span class="text-muted">{{$following.Category}}</span>
                                    <hr>
                                    <div class = "search-result-tags">
                                        {{range $bar2 := $following.Tags}}
                                       <span class="search-result-tag"> {{index $bar2}}</span>
                                        {{end}}
                                    </div>
                                    <br>
                                    {{if ne ($following.DocID) ($.DOCID)}}
                                        {{if eq ($following.Followed) false }}
                                        <button class="btn btn-primary unfollowButton" id={{$following.DocID}} rel="6">Follow</button>
                                        {{end}}
                                         {{if eq ($following.Followed) true }}
                                        <button class="btn btn-primary unfollowButton" id={{$following.DocID}} rel="6">Unfollow</button>
                                        {{end}}
                                        <button class="btn btn-default message-btn" onclick="location.href='/ch/@'+{{$following.Username}}"><i class="fa fa-envelope"></i></button>
                                    {{end}}
								</div>
							</div>
							{{end}}
                            <script>
                               $('body').on("click", ".unfollowButton", function(e) {
                                   $(e.currentTarget).prop( "disabled", true );
                                   var unfollowdocID = e.currentTarget.id;
                                   $.ajax({
                                        type: 'GET',  
                                        url: 'http://k12start.today:'+port+'/AjaxUserFollowsUser/',
                                        contentType: "application/json; charset=utf-8",
                                        data: {userID:unfollowdocID},
                                        success: function(data) {
                                            if ($(e.currentTarget).text()=="Follow") {
                                                $(e.currentTarget).text('Unfollow');
                                            }
                                            else if ($(e.currentTarget).text()=="Unfollow") {
                                                $(e.currentTarget).text('Follow');
                                            }
                                            $(e.currentTarget).prop( "disabled", false );
                                        },
                                        error: function(error) {
                                            console.log("It just doesn't work");
                                            console.log(error);
                                        }
                                    });
                                });
                             </script>
						</div>
                        
                        <div id="ProjFollowingTab" class="tab-pane fade in">
                            {{ if eq (len .ListOfHeads3) (0) }}
                               <h5>You have not followed any project.</h5> 
                            {{end}}
							{{range $projfollowing := .ListOfHeads3}}
							<div class="card follow-card">
								<div class="container-s">
                                    <a href="/Projects/{{$projfollowing.Username}}">
										<img id="projFollowingAvatar{{$projfollowing.Username}}" class="image"/>
										<div><b class="projFollowerUsername">{{$projfollowing.FirstName}} {{$projfollowing.LastName}}</b></div>
                                        <script>
										   $('#projFollowingAvatar{{$projfollowing.Username}}').attr('src', '{{$projfollowing.Image}}');
									    </script>
                                    </a>
                                    <span class="text-muted">{{$projfollowing.Category}}</span>
                                    <hr>
                                    <div class = "search-result-tags">
                                        {{range $bar3 := $projfollowing.Tags}}
                                       <span class="search-result-tag"> {{index $bar3}}</span>
                                        {{end}}
                                    </div>
                                    <br>
                                   
                                    {{if ne ($projfollowing.DocID) ($.DOCID)}}
                                        {{if eq ($projfollowing.Followed) false }}
                                        <button class="btn btn-primary projunfollowButton" id={{$projfollowing.DocID}} rel="6">Follow</button>
                                        {{end}}
                                         {{if eq ($projfollowing.Followed) true }}
                                        <button class="btn btn-primary projunfollowButton" id={{$projfollowing.DocID}} rel="6">Unfollow</button>
                                        {{end}}
                                    {{end}}
								</div>
							</div>
							{{end}}
                            <script>
                               $('body').on("click", ".projunfollowButton", function(e) {
                                   $(e.currentTarget).prop( "disabled", true );
                                   var unfollowdocID = e.currentTarget.id;
                                   $.ajax({
                                        type: 'GET',  
                                        url: 'http://k12start.today:'+port+'/AjaxUserFollowProjectToggle/',
                                        contentType: "application/json; charset=utf-8",
                                        data: {projectID:unfollowdocID},
                                        success: function(data) {
                                            if ($(e.currentTarget).text()=="Follow") {
                                                $(e.currentTarget).text('Unfollow');
                                            }
                                            else if ($(e.currentTarget).text()=="Unfollow") {
                                                $(e.currentTarget).text('Follow');
                                            }
                                            $(e.currentTarget).prop( "disabled", false );
                                        },
                                        error: function(error) {
                                            console.log("It just doesn't work");
                                            console.log(error);
                                        }
                                    });
                                });
                             </script>
						</div>
                        
					</div>
                    </div>
				</div>
				
			</div>
		</div>
    </div>
</body>

</html>
