<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>ustart</title>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href="/ustart_front/css/profile.css" rel="stylesheet" type="text/css" />
    <link href="/ustart_front/css/followers.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<script src="/ustart_front/js/ascii-convert.js"></script>
</head>

<body>
    <input type="hidden" id="pageiden" value='{{.Page}}'>
    <input type="hidden" id="followstat" value='{{.FollowingStatus}}'>
    <div id="centering">
		<img id="head-image" alt="User Banner">
		<script>
            var port=5002;
			$( document ).ready(function() {
				$("#head-image").attr("src",{{.UserInfo.Banner}});
			});
		</script>
        <!-- Vertical content -->
        <div id="content" class="container">
			<div class="flex-box">
				<div class="dashboard-left">
					<div class="user-info">
						<div class="user-img-container">
							<img class="user-img" id="user-avatar" alt="User Profile Image">
							{{if eq ($.Page) ($.DOCID)}}
							<div class="user-img-option">
								<a href="/Settings/#avatarcollapse">Change Profile Image</a>
							</div>
							{{end}}
						</div>
						<script>
							$( document ).ready(function() {
								$("#user-avatar").attr("src",{{.UserInfo.Avatar}});
							});
						</script>
						<div id="user-brief-info">
							<div id="info-wrap">
								<div id="name-cont">
									<h3 style="margin-bottom: 0.2em;">
										<a href="/profile/{{.UserInfo.Username}}">
											<strong id="name">{{.UserInfo.FirstName}} {{.UserInfo.LastName}} <!-- {{.DOCID}} {{.Page}} page is viewingDOCID--></strong>
										</a>
										<span class="dot">
											<span class="active">
												<i class="fa fa-circle" aria-hidden="true" data-toggle="tooltip" title="Active"></i>
											</span>
										</span>
									</h3>
								</div>
							</div>
							<div id="brief-info" style="text-align: left; padding: 1em 1em 0 1em;">
								{{if .UserInfo.Location.Country}}
								<div id="location-cont" style="color:#00C085">
									<i class="fa fa-map-marker" aria-hidden="true" style="color:#00C085;"></i> Location
									<p id="location" style="color:black">{{.UserInfo.Location.City}}, {{.UserInfo.Location.State}}, {{.UserInfo.Location.Country}}</p>
								</div>
								{{end}}
								{{if .UserInfo.University}}
								<div id="edu-link" style="color:#00C085;">
									<i class="fa fa-graduation-cap" aria-hidden="true" style="color:#00C085;"></i> Education
									<p style="color:black">{{.UserInfo.University}}</p>
								</div>
								{{end}}
								{{if .UserInfo.PhoneVis}}
								<div id="contact-phone" style="color:#00C085;">
									<i class="fa fa-phone" aria-hidden="true" style="color:#00C085;"></i> Phone
									<p style="color:black">{{.UserInfo.Phone}}</p>
								</div>
								{{end}}
							</div>
						</div>
						<hr>
						<div class="user-desc">
							<p style="margin-bottom: 0;">
								<span id="description">
									<script>readRuneArray({{.UserInfo.Description}});</script>
								</span>
							</p>
						</div>
						<hr>
						<div id="user-nums">
							<div id="followers">
								<a href="/followers/{{.UserInfo.Username}}">
									<span id="num-followers" style="font-weight: bold">{{len .UserInfo.Followers}}</span> Followers</a>
							</div>
							
							<div id="following">
								<a href="/followers/{{.UserInfo.Username}}#following">
									<span id="num-following" style="font-weight: bold">{{len .UserInfo.Following}}</span> Following</a>
							</div>
							<button id="btn-message" class="btn btn-default" style="display: none;"><i class="fa fa-envelope"></i></button>
							<!-- if user is visiting the page -->
							{{if ne ($.Page) ($.DOCID)}}
							<button id="btn1" class="btn followButton" rel="6">Follow</button>
							<script type="text/javascript">
								$(document).ready(function() {
									var pageID= document.getElementById("pageiden").value;
									var followstatus=document.getElementById("followstat").value;
									if(followstatus == "yes"){
										$('#btn1').attr('class', 'btn followButton following');
										$('#btn1').text('Following');
									}
									else{
										$('#btn1').attr('class', 'btn followButton');
										$('#btn1').text('Follow');
									} 
									$('#btn1').hover(function () {
										$button = $(this);
										if ($button.hasClass('following')) {
											$button.addClass('unfollow');
											$button.text('Unfollow');
										}
									}, function () {
										if ($button.hasClass('following')) {
											$button.removeClass('unfollow');
											$button.text('Following');
									}
									$('#btn1').click(function(e) {
										//e.preventDefault();
										$.ajax({
											type: 'GET',  
											url: 'http://ustart.today:'+port+'/callme/',
											contentType: "application/json; charset=utf-8",
											data: {userID:pageID, Following:followstatus,Pikachu:{{.DOCID}}},
											success: function(data) {
												$("#responsenil").html(data);
												var totalFollowers = parseInt($('#num-followers').html());
												if ($('#btn1').hasClass('following')) {
													//$.ajax(); Do Unfollow
													console.log("Let's Unfollow");
													//$.ajax(); Do Unfollow
													$('#btn1').removeClass('following');
													$('#btn1').removeClass('unfollow');
													$('#btn1').text('Follow');
													$('#num-followers').html(totalFollowers-1);
													$("#followstat").val("no");
													followstatus ="no";
												} else {
													// $.ajax(); Do Follow
													console.log("Let's follow");
													// $.ajax(); Do Follow
													$('#btn1').addClass('following');
													$('#btn1').text('Following');
													$('#num-followers').html(totalFollowers+1);
													$("#followstat").val("yes");
													followstatus ="yes";
												}
											},
											error: function(error) {
												console.log("It just doesn't work");
												console.log(error);
											}
										});
									});
								});
							</script>
							{{end}}
							{{if ne ($.Page) ($.DOCID)}}
							<div class="profile-menu dropdown">
								<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
									<i class="fa fa-ellipsis-v"></i>
								</button>
								<ul class="dropdown-menu dropdown-menu-right">
									<li>
										<a id="block-user" href="#">
											<i class="fa fa-ban"></i> Block
											<span class="block-user-text"></span> User</a>
									</li>
									<li>
										<a href="settings.html">
											<i class="fa fa-gear"></i> Settings</a>
									</li>
								</ul>
							</div>
							{{end}}
						</div>
					</div>
				</div>
				<div class="grid">
					<ul class="nav nav-tabs nav-justified proj-tabs">
						<li class="active"><a data-toggle="tab" href="#Followers">Followers</a></li>
						<li><a data-toggle="tab" href="#Following">Following</a></li>
					</ul>
					<div class="tab-content">
						<div id="Followers" class="tab-pane fade in active">
							{{range $follower := .ListOfHeads}}
							<div class="card btn btn-default">
								<div class="container-s">
                                    <a href="/profile/{{$follower.Username}}">
										<img id="followerAvatar{{$follower.Username}}" class="image"/>
										<div><b class="followerUsername">{{$follower.FirstName}} {{$follower.LastName}}</b></div>
                                    </a>
									<button class="btn btn-primary followButton" rel="6">Follow</button>
									<script>
										$('#followerAvatar{{$follower.Username}}').attr('src', '{{$follower.Image}}');
									</script>
								</div>
							</div>
							{{end}}
						</div>
						<div id="Following" class="tab-pane fade in">
							{{range $following := .ListOfHeads2}}
							<div class="card btn btn-default">
								<div class="container-s">
                                    <a href="/profile/{{$following.Username}}">
										<img id="followingAvatar{{$following.Username}}" class="image"/>
										<div><b class="followerUsername">{{$following.FirstName}} {{$following.LastName}}</b></div>
                                    </a>
									<button class="btn btn-primary followButton" rel="6">Follow</button>
									<script>
										$('#followingAvatar{{$following.Username}}').attr('src', '{{$following.Image}}');
									</script>
								</div>
							</div>
							{{end}}
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
	<script>
		if(location.hash != null && location.hash != ""){
			$("a[href='" + location.hash + "'").tab("show");
		}
	</script>
</body>

</html>
