<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>ustart</title>
	<link rel="stylesheet" type="text/css" href="/ustart_front/css/followers.css" />
    	<link rel="stylesheet" type="text/css" href="/ustart_front/css/settings.css" />
    <link rel="stylesheet" type="text/css" href="/ustart_front/css/croppie.css" />
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway">
	<script src="/ustart_front/js/countries.js"></script>
	<script src="/ustart_front/js/majors.js"></script>
	<script src="/ustart_front/js/settings.js"></script>
	<script src="/ustart_front/js/project_settings.js"></script>
    <script src="/ustart_front/js/croppie.js"></script>
    <script src="/ustart_front/js/ascii-convert.js"></script>
	<style>
		#content .panel,
		#content .panel-group {
			margin-bottom: 0.5em;
		}
	</style>
	{{$projectid := .Project.DocID}}
    <script>
        var bwidth;
        var vwidth;
        var vheight;
        var poster = {{.Project.ProjectData.Banner}};
        var cwidth = $(window).width();
        if(cwidth <= 1100 && cwidth >= 320){
            bwidth = cwidth/3;
            vwidth = 325;
            vheight=100;
        }
        else if (cwidth >= 2300){
            bwidth = 1100;
            vwidth = 975;
            vheight=300;
        }
        else{
            bwidth = 700;
            vwidth=650
            vheight= 200;
        }	
    </script>
</head>

<body>
	<div id="navBar-placeholder"></div>
	<div id="centering">
		<!-- Vertical content -->
			<div id="settings-container" class="container">
                <div class="col-sm-offset-1" style="margin-top: 3em;" href="/Projects/{{$projectid}}" >
                    <a class="btn btn-default navbar-btn pull-left">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </div>
				<div class="panel-group col-sm-11 col-sm-offset-1" style="margin-top: 0em;">
					<div class="row">
						<div class="vertical-menu col-sm-3">
							<ul>
                                <li data-target='projectImage' class='project-menu-list active'><h5>Edit Images</h5></li>
								<li data-target='projectInfo' class='project-menu-list'><h5>Edit Project Info</h5></li>
								<li data-target='projectCategory' class='project-menu-list'><h5>Edit Category</h5></li>
								<li data-target='projectLocation' class='project-menu-list'><h5>Edit Location</h5></li>
								<li data-target='projectURL' class='project-menu-list'><h5>Edit custom URL</h5></li>
								<li data-target='projectMember' class='project-menu-list'><h5>Manage Members</h5></li>
							</ul>
						</div>
						<div class='col-sm-9 projectContents'>
							<div id="projectInfo">
								<form id="nameChange" action="/projectName/" method="POST">
									<div class="row">
										<label for="recruitSwitch">Recruitment</label>
										<br>
										<label class="switch" id="recruitSwitch">
											<input type="checkbox" checked>
											<span class="slider round"></span>
										</label>											
									</div>
									<div class='row'>
										<div class="col-sm-3" style='text-align:center; font-weight:bold;'>
											<label for="pname">Name</label>
										</div>
										<div class="col-sm-9">
											<input type="text" class="form-control" id="pname" name="pname" placeholder="Project Name" value="{{.Project.ProjectData.Name}}" required />
											<input type="hidden" name="projectID" value="{{$projectid}}" />														
										</div>
									</div>	
									<div class='row'>
										<div class="col-sm-3" style='text-align:center; font-weight:bold;'>
											<label for="inputDesc">Description</label>
										</div>
										<div class="col-sm-9">
											<textarea type="text" class="form-control" id="inputDesc" name="inputDesc" rows="4" placeholder="Describe your self" maxlength="5000"></textarea>
											<script>$('textarea[name="inputDesc"]').text(defineRuneArray({{.Project.ProjectData.Description}}));</script>
											<span style='float:left'><span id="chars">5000</span> characters remaining</span>
										</div>
									</div>
									<input type="submit" class="btn btn-info" name="name_submit" value="Change" />
									<div class="save-message fade"></div>										
								</form>
								<br><hr>

								<button type="button" style='float:right' class="btn btn-danger btn-md" data-toggle="modal" data-target="#proj-del">Delete Project</button>

								<!-- Modal -->
								<div class="modal fade" id="proj-del" role="dialog">
								  <div class="modal-dialog">
									<!-- Modal content-->
									<div class="modal-content">
									  <div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
									  </div>
									  <div class="modal-body">
										<p>Are you sure you want to delete <strong>{{.Project.ProjectData.Name}}</strong> ?</p>
										<form id="nameChange" action="/projectDel/" method="POST">
											<input type="hidden" name="projectID" value="{{$projectid}}" />
											<input style='float:right' type="submit" class="btn btn-danger" name="name_submit" value="Delete Project" />
											<br>
											<br>
										</form>							
									  </div>
									</div>
									
								  </div>
								</div>
							</div>
							<!-- end of projectInfo -->
							<div id="projectCategory">
								<form id="category-form" action="/projectCategory/">
									<input type="hidden" name="projectID" value="{{$projectid}}" />
									<div class='row'>
										<div class="col-sm-3" style='text-align:center; font-weight:bold;'>
											<label for="type_select">Category</label>
										</div>
										<div class="col-sm-9">
											<select id="type_select" class="form-control" name="type_select" required>
												<option disabled selected hidden>Select Category</option>
												<option>Art</option>
												<option>Comics</option>
												<option>Craft</option>
												<option>Dancing</option>
												<option>Design</option>
												<option>Fashion</option>
												<option>Film &amp; Video</option>
												<option>Food</option>
												<option>Games</option>
												<option>Jounalism</option>
												<option>Music</option>
												<option>Photography</option>
												<option>Publishing</option>
												<option>Technology</option>
												<option>Theater</option>
											</select>
										</div>
										<script>
											$('select#type_select').val('{{.Project.ProjectData.Category}}');
										</script>											
									</div>	
									<br>
									<input type="submit" id="cata-btn" class="btn btn-info" name="name_submit" value="Change Category" />
									<div class="save-message fade"></div>										
								</form>
								<br><hr>
							</div>
							<!-- end of projectCategory -->
							<div id="projectImage">
								<div class="row">
									<h4>Edit your Project Image</h4>
									<div class="col-sm-6 col-sm-offset-3">
										<form id="img-form" action="/projectLogo/" enctype="multipart/form-data" method="post">
											<div id="upload-demo" style="width:300px; height:350px"></div>
											<input type="file" name="raw-image" id="upload" accept="image/*">
											<input type="hidden" name="image-data" id="hidden-image-data" />
											<input type="hidden" name="projectID" value={{$projectid}} />
											<button type="button" class="btn btn-info" id="upload-result">Upload Image</button>
											<script type="text/javascript">
												$uploadCrop = $('#upload-demo').croppie({
													viewport: {
														width: 250,
														height: 250,
														type: 'circle',
                                                       
													},
													boundary: {
														width: 280,
														height: 280
													}
												});
                                                
                                                 $uploadCrop.croppie('bind', {{.Project.ProjectData.Avatar}}).then(function(){ 
                                                   $uploadCrop.croppie('setZoom', 0)
                                                 });
												$('#upload').on('change', function () { 
												    if(this.files[0].size > 2097152){
                                                       alert("File is too big! 2MB or lower");
                                                       this.value = "";
                                                    }
                                                    else{
                                                        var reader = new FileReader();
                                                        reader.onload = function (e) {
                                                            $uploadCrop.croppie('bind', {
                                                                url: e.target.result,
                                                                zoom: 1
                                                            });
                                                        }
                                                        reader.readAsDataURL(this.files[0]); 
                                                    }
												});
												 $('#upload-result').on('click', function (ev) {
													$uploadCrop.croppie('result', {
														type: 'canvas',
														size: 'original'
													}).then(function (resp) {
														$('#hidden-image-data').val(resp);
														$('#img-form').submit();
													});
												});
											</script>
										</form>
									</div>
								</div>
								<br><hr>
								
								<div class="modal fade" id="sizeModal" role="dialog">
									<div class="modal-dialog">										
									<div class="modal-content">
											<div class="modal-header" style='border-color:#00ac7d!important'>
												<button type="button" class="close" data-dismiss="modal">&times;</button>
												<h4 class="modal-title" >USTART info</h4>
											</div>
											<div class="modal-body" style='border-color:#00ac7d!important'>
												<p>Banner Image should be bigger than 300px (height) x 600px (width)</p>
											</div>
									</div>	  
									</div>
								</div>		

								<div class="col">
									<h4>Edit your Project banner</h4>
									<br>

									<form id="banner-form" action="/projectBannerUpload/" enctype="multipart/form-data" method="post">
										<div id="upload-demo2" style="height:400px"></div>
										<input type="file" name="raw-banner" id="upload2" accept="image/*">
										<input type="hidden" name="projectID" value={{$projectid}} />
										<input type="hidden" name="banner-data" id="hidden-image-data-2" />
										<button type="button" class="btn btn-info" id="upload-result2">Upload Banner</button>
										<script type="text/javascript">
											       function createCroppie(viewportWidth, viewportHeight, boundaryWidth, image) {
                                                        $uploadCrop2 = $('#upload-demo2').croppie({
                                                        viewport: {
                                                        width: viewportWidth,
                                                        height: viewportHeight
                                                        },
                                                        boundary: {
                                                        width: boundaryWidth,
                                                        height:350
                                                        }
                                                        });
                                                        $uploadCrop2.croppie('bind', image).then(function(){ 
                                                           $uploadCrop2.croppie('setZoom', 0)
                                                        });
                                                    }
                                                    
                                                    function resizeCroppie(width, height, bwidth, image) {
                                                         $('#upload-demo2').croppie('destroy');
                                                         createCroppie(vwidth, vheight, bwidth, image);
                                                    };

                                                    $(document).ready(function () {
                                                        createCroppie(vwidth, vheight, bwidth, poster);
                                                        setTimeout(function(){
                                                            $('#upload-demo2').croppie('setZoom', '0');
                                                        },50);
                                                    });
                                                    
                                                    $( window ).resize(function() {
                                                        
                                                        cwidth = $(window).width();
                                                        if(cwidth <= 1100 && cwidth >= 320){
                                                                bwidth = cwidth/3;
                                                                vwidth = 325;
                                                                vheight=100;
                                                            }
                                                            else if (cwidth >= 2300){
                                                                bwidth = 1100;
                                                                vwidth = 975;
                                                                vheight=300;
                                                            }
                                                            else{
                                                                bwidth = 700;
                                                                vwidth=650
                                                                vheight= 200;
                                                            }	height= 200;
                                                        resizeCroppie(vwidth, vheight, bwidth, poster);
                                                    });
                                                    
                                                        $('#upload2').on('change', function () { 
                                                            if(this.files[0].size > 2097152){
                                                               alert("File is too big! 2MB or lower");
                                                               this.value = "";
                                                            }
                                                            else{
                                                            var file = $('#upload2')[0];
                                                            var reader2 = new FileReader();
                                                            reader2.readAsDataURL(file.files[0])
                                                            reader2.onload = function (e) {
                                                                var image = new Image();
                                                                image.src = e.target.result;
                                                                poster = e.target.result;
                                                                image.onload = function(){
                                                                    var height = this.height;
                                                                    var width = this.width;
                                                                    if(height < 300 && width < 600){
                                                                        $('#upload2').val('');
                                                                        $("#sizeModal").modal();							
                                                                       poster = {{.Project.ProjectData.Banner}};
                                                                       resizeCroppie(vwidth, vheight, bwidth, poster);
                                                                       setTimeout(function(){
                                                                        $('#upload-demo2').croppie('setZoom', '1.0');
                                                                        },50);
                                                                    }
                                                                    else{
                                                                        resizeCroppie(vwidth, vheight, bwidth, poster);
                                                                        setTimeout(function(){
                                                                        $('#upload-demo2').croppie('setZoom', '1.0');
                                                                        },50);
                                                                    }
                                                                };
                                                            }
                                                            }
                                                        });
                                                        $('#upload-result2').on('click', function (ev) {
                                                            $uploadCrop2.croppie('result', {
                                                                type: 'canvas',
                                                                size: 'original'
                                                            }).then(function (resp2) {
                                                               $('#hidden-image-data-2').val(resp2);
                                                               $('#banner-form').submit();
                                                            });
                                                         });
										</script>
									</form>	

									<br><br> <hr>							
								</div>
							</div>
							<!-- end of projectImage -->
							<div id="projectLocation">
								<form id="projlocChange" action="" method="post">
                                <script type="text/javascript">
				                    $( "#projlocChange" ).attr( 'action', '/projectLocChange/' );
								</script>		
								<input type="hidden" name="projectID" value="{{$projectid}}" />
									<div class='row'>
										<div class="col-sm-3" style='text-align:center; font-weight:bold;'>
											<label for="country">Country</label>
										</div>
										<div class="col-sm-9">
											<!--<label class="switch usr-vis-opt"><input type="checkbox" id="countryVis" name="countryVis" checked><span class="slider round"></span></label>-->
											<select id="country" class="form-control" name="country" required></select>
										</div>
									</div>
									<div class='row'>
										<div class="col-sm-3" style='text-align:center; font-weight:bold;'>
											<label for="state">State</label>
										</div>
										<div class="col-sm-9">
											<!--<label class="switch usr-vis-opt"><input type="checkbox" id="stateVis" name="stateVis" checked><span class="slider round"></span></label>-->
											<select id="state" class="form-control" name="state" required></select>
										</div>
										<script language="javascript">
											populateCountries("country", "state");
											$('select#country').val({{.Project.ProjectData.Location.Country}});
											populateStates("country", "state");
											$('select#state').val({{.Project.ProjectData.Location.State}});
										</script>										
									</div>	
									<div class='row'>
										<div class="col-sm-3" style='text-align:center; font-weight:bold;'>
											<label for="city">City</label>
										</div>
										<div class="col-sm-9">
											<!--<label class="switch usr-vis-opt"><input type="checkbox" name="cityVis" id="cityVis" checked><span class="slider round"></span></label>-->
											<input id="city" class="form-control" name="city" placeholder="City" value="{{.Project.ProjectData.Location.City}}" required/>
										</div>
									</div>	
									<div class='row'>
										<div class="col-sm-3" style='text-align:center; font-weight:bold;'>
											<label for="zip">Zip</label>
										</div>
										<div class="col-sm-9">
											<!--<label class="switch usr-vis-opt"><input type="checkbox" name="zipVis" id="zipVis"  checked><span class="slider round"></span></label>-->
											<input id="zip" class="form-control" name="zip" placeholder="Zip" pattern="^\s*?\d{5}(?:[-\s]\d{4})?\s*?$" value="{{.Project.ProjectData.Location.Zip}}" required />
										</div>
									</div>	
									<!--<div class='row'>
										<div class="col-sm-3" style='text-align:center; font-weight:bold;'>
											<label for="recruitSwitch">Display on Profile</label>
										</div>
										<div class="col-sm-9">
											<label class="switch" id="countrySwitch">
												<input type="checkbox" name="locVis" checked>
												<span class="slider round"></span>
											</label>
										</div>
									</div>	-->
									<input type="submit" id="proj-loc-btn" class="btn btn-info" name="name_submit" value="Change Location" form="projlocChange"/>
									<div class="save-message fade"></div>									
								</form>	
								<br><br> <hr>																																											
							</div>
							<!-- end of projectLocation-->
							<div id="projectURL">
								<form id="urlChange" action="/projectCustomURL/">
									<input type="hidden" name="projectID" value="{{$projectid}}" />
									<div class='row'>
										<div class="col-sm-3" style='text-align:center; font-weight:bold;'>
											<label>Custom URL</label>
										</div>
										<div class="col-sm-9">
											k12start.today/Projects/ <input type="text" class="form-control" id="purl" name="purl" placeholder="url" style="width:auto; display:inline-block;" value="{{.Project.ProjectData.URLName}}" required />
										</div>
									</div>
									<br>
									<input type="submit" class="btn btn-info" name="name_submit" value="Change url" />
									<div class="save-message fade"></div>									
								</form>
								<br><br> <hr>
							</div>
							<div id="projectMember">
								<h4>Manage Members</h4>
								<br>
								<div id="home">
									{{range $member := .Project.MemberData}}
										<div class="card follow-card">
								        <div class="container-s">
                                            <a href="/profile/{{$member.Username}}">
											<img id="img{{$member.Username}}" class="image" src="{{$member.Image}}"/>
                                            <div><b class="followerUsername" >{{$member.FirstName}} {{$member.LastName}}</b></div>
                                            </a>
                                            {{if le $member.Classification 0}}
                                            <br>
                                            <input type="text" class="form-control prole" name="prole" placeholder="Role" value="" />
                                            {{end}}
                                             <hr>
											<select class="role_select form-control" name="newRank" style="margin: 0 auto; width:10em;">
												<option {{if not $member.Classification}} selected{{end}} hidden disabled>Select Role</option>
												{{if le $member.Classification 0}}
												<option {{if eq $member.Classification 0}}selected{{end}}>Creator</option>
												{{else}}
												<option {{if eq $member.Classification 1}}selected{{end}}>Moderator</option>
												<option {{if eq $member.Classification 2}}selected{{end}}>Member</option>
												{{end}}
											</select>
											<script>
												$('.role_select').on('change', function(e) {
													var result = $(e.currentTarget).val();
													console.log(result);
													$.ajax({
														type: 'GET',
														url: '/changeMemberClass/',
														contentType: "application/json; charset=utf-8",
														data: {memberID:{{$member.DocID}}, projectID:{{$projectid}}, newRole:result},
														success: function(data) {
															console.log("member role changed");
														},
														error: function(err) {
															console.log('Change Member Class error: ' + err);
														}
													});
												});
											</script>
											{{if ge $member.Classification 1}}
								            <button class="btn btn-primary followButton" style="width:10em; margin-top:15px;" onclick="removeMember('{{$member.DocID}}', '{{$projectid}}', this)">Remove</button>
											{{end}}
											<script>
												$('img#img{{$member.Username}}').attr('src', {{$member.Image}});
											</script>
										</div>
									</div>
									{{end}}
								</div>								
							</div>
					</div>
					<!-- end of row for the content-->
				</div>
				</div>
			</div>
			<!-- end of content-->
			<div class="modal fade" id="avatarCropperModal" role="dialog">
				<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Crop avatar</h4>
						</div>
						<div class="modal-body">
							<iframe id="cropperiframe"> </iframe>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
			<div id="footer-placeholder"></div>		
			<script type="text/javascript">
				$(document).ready(function () {
					<!-- Automatically open the approriate tab based on the URL -->
					if(location.hash != null && location.hash != ""){
						$('.collapse').removeClass('in');
						$(location.hash + '.collapse').collapse('show');
					} else {
						$('#avatarcollapse.collapse').collapse('show');
					};
					$('.vertical-menu ul').on('click', '.project-menu-list', function(event) {
						$('.project-menu-list.active').removeClass('active');
						$(this).addClass('active');
						if ($('li[data-target="projectImage"]').hasClass("active")) {
							//$('.vertical-menu').css({'border-right': 'none;'});
							$('.vertical-menu').css({'border-right': 'none'});			
							$('.projectContents').css({'border-left': '1px solid #808080'});
						  }
						else{	 
							$('.projectContents').css({'border-left': 'none'});			
							$('.vertical-menu').css({'border-right': '1px solid #808080'});			
						}	
						$("#"+$(this).data('target')).show().siblings("div").hide();
					}); 					
					
				});
			</script>												
		</div>
		<!-- end of centering -->

</body>
</html>