<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>U Start - Settings</title>
	<link rel="stylesheet" type="text/css" href="/ustart_front/css/settings.css" />
    <link rel="stylesheet" type="text/css" href="/ustart_front/css/croppie.css" />
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway">
	<script src="/ustart_front/js/countries.js"></script>
	<script type="text/javascript" src="/ustart_front/js/zxcvbn.js"></script>
	<script src="/ustart_front/js/majors.js"></script>
	<script src="/ustart_front/js/settings.js"></script>
    <script src="/ustart_front/js/croppie.js"></script>
    <script src="/ustart_front/js/ascii-convert.js"></script>
    <style>
        #img-preview {
        background-color: #f8f8f8;
        background-size: cover;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-top: 7px;
        width: 250px;
        height: 250px;
      }
        #banner-preview {
        background-color: #f8f8f8;
        background-size: cover;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-top: 7px;
        width: 1100px;
        height: 300px;
      }

      .cropit-preview-image-container {
        cursor: move;
      }

      .image-size-label {
        margin-top: 10px;
      }

      input {
        display: block;
	  }
    </style>
    <script>
        var bwidth;
        var vwidth;
        var vheight;
        var poster = {{.UserInfo.Banner}};
        var cwidth = $(window).width();
        if(cwidth <= 1100 && cwidth >= 320){
            bwidth = cwidth/3;
            vwidth = 325;
            vheight=100;
        }
        else if (cwidth >= 2300){
            bwidth = 1100;
            vwidth = 975;
            vheight=300;
        }
        else{
            bwidth = 700;
            vwidth=650
            vheight= 200;
        }	
</script>
</head>

<body>
		<div id="navBar-placeholder"></div>
		<div id="centering">
			<!-- Vertical content -->
			<div id="LeftNavBar-placeholder"></div>
			<script>
					var port = location.port;
					$("#leftNavSettings").addClass("theActive");
			</script>
			<div class="panel-group col-sm-10 col-sm-offset-1">
					<div class="row">
						<div class="vertical-menu col-sm-3">
							<ul>
                                <li data-target='images' class='menu-list active'><h5>Edit Images</h5></li>
								<li data-target='profile' class='menu-list'><h5>Edit Profile</h5></li>
								<li data-target='education' class='menu-list'><h5>Edit Education</h5></li>
								<li data-target='password' class='menu-list'><h5>Edit Password</h5></li>
								<li data-target='account' class='menu-list'><h5>Manage Account</h5></li>
							</ul>
						</div>
						<div class='col-sm-9 contents'>
                                <div id='images'>
									<div class="row" style='margin-top:3em;'>
										<h4>Edit your Profile Image</h4>
									</div>
									<div class="row">
										<div class="col-sm-6 col-sm-offset-3">
											<form id="img-form" action="/ImageUpload/" enctype="multipart/form-data" method="post">
												<div id="upload-demo" style="width:300px; height:350px"></div>
												<input type="file" name="raw-image" id="upload" accept="image/*">
												<input type="hidden" name="image-data" id="hidden-image-data" />
												<button type="button" class="btn btn-info" id="upload-result">Upload Image</button>
												<script type="text/javascript">
													$uploadCrop = $('#upload-demo').croppie({
														enforceBoundary: true,
														viewport: {
															width: 250,
															height: 250,
															type: 'square'
														},
														boundary: {
															width: 300,
															height: 300
														}
													});
													$uploadCrop.croppie("bind", {
														url: {{.UserInfo.Avatar}},
														zoom: 1
													});
													$('#upload').on('change', function () { 
														var reader = new FileReader();
														reader.onload = function (e) {
															$uploadCrop.croppie('bind', {
																url: e.target.result,
																zoom: 1
															});
														}
														reader.readAsDataURL(this.files[0]);
													});
												    $('#upload-result').on('click', function (ev) {
														$uploadCrop.croppie('result', {
															type: 'canvas',
															size: 'original'
														}).then(function (resp) {
															$('#hidden-image-data').val(resp);
															$('#img-form').submit();
														});
													});
												</script>
											</form>											
										</div>
									</div>
									
									<br><hr>
									<div class="modal fade" id="sizeModal" role="dialog">
										<div class="modal-dialog">										
										<div class="modal-content">
												<div class="modal-header" style='border-color:#00ac7d!important'>
													<button type="button" class="close" data-dismiss="modal">&times;</button>
													<h4 class="modal-title" >USTART info</h4>
												</div>
												<div class="modal-body" style='border-color:#00ac7d!important'>
													<p>Banner Image should be bigger than 300px (height) x 600px (width)</p>
												</div>
										</div>	  
										</div>
									</div>
									<div class="col">
										<h4>Edit your banner</h4>
										<br>
										<form id="banner-form" action="/BannerUpload/"  enctype="multipart/form-data"  method="post">
											<div id="upload-demo2" style='height:400px;'></div>
											<input type="file" name="raw-banner" id="upload2" accept="image/*">
											<input type="hidden" name="banner-data" id="hidden-image-data-2" />	
											<button type="button" class="btn btn-info" id="upload-result2">Upload Banner</button>
											<br>
												<script type="text/javascript">	
                                                    function createCroppie(viewportWidth, viewportHeight, boundaryWidth, image) {
                                                        $uploadCrop2 = $('#upload-demo2').croppie({
                                                        url:image,
                                                        viewport: {
                                                        width: viewportWidth,
                                                        height: viewportHeight
                                                        },
                                                        boundary: {
                                                        width: boundaryWidth,
                                                        height:350
                                                        }
                                                        });
                                                        setTimeout(function(){
                                                            $('#upload-demo2').croppie('setZoom', '1.0');
                                                         },50);
                                                    }
                                                    
                                                    
                                                    function resizeCroppie(width, height, bwidth, image) {
                                                         $('#upload-demo2').croppie('destroy');
                                                         createCroppie(vwidth, vheight, bwidth, image);
                                                    }

                                                    $(document).ready(function () {
                                                        createCroppie(vwidth, vheight, bwidth, poster);
                                                    });
                                                    
                                                    $( window ).resize(function() {
                                                        
                                                        cwidth = $(window).width();
                                                        if(cwidth <= 500){
                                                            bwidth = 200;
                                                            vwidth = 162.5;
                                                            vheight=50;
                                                        }
                                                        if(cwidth <= 1150 && cwidth >= 500){
                                                            bwidth = 400;
                                                            vwidth = 325;
                                                            vheight=100;
                                                        }
                                                        else if (cwidth >= 2300){
                                                            bwidth = 1100;
                                                            vwidth = 975;
                                                            vheight=300;
                                                        }
                                                        else{
                                                            bwidth = 700;
                                                            vwidth=650
                                                            vheight= 200;
                                                        }
                                                        resizeCroppie(vwidth, vheight, bwidth, poster);
                                                       
                                                    });
                                                    
                                                        $('#upload2').on('change', function () { 
                                                            var file = $('#upload2')[0];
                                                            var reader2 = new FileReader();
                                                            reader2.readAsDataURL(file.files[0])

                                                            reader2.onload = function (e) {
                                                                var image = new Image();
                                                                image.src = e.target.result;
                                                                poster = e.target.result;
                                                                image.onload = function(){
                                                                    var height = this.height;
                                                                    var width = this.width;
                                                                    console.log(height +' '+width);
                                                                    if(height < 300 && width < 600){
                                                                        $('#upload2').val('');
                                                                        $("#sizeModal").modal();							
                                                                       poster = {{.UserInfo.Banner}};
                                                                       resizeCroppie(vwidth, vheight, bwidth, poster);
                                                                    }
                                                                    else{
                                                                        resizeCroppie(vwidth, vheight, bwidth, poster);
                                                                    }
                                                                };
                                                            }
                                                        });
                                                        $('#upload-result2').on('click', function (ev) {
                                                            $uploadCrop2.croppie('result', {
                                                                type: 'canvas',
                                                                size: 'original'
                                                            }).then(function (resp2) {
                                                               $('#hidden-image-data-2').val(resp2);
                                                               $('#banner-form').submit();
                                                            });
                                                         });
												</script>
										</form>																				
										<div class="save-message fade"></div>										
									</div>
								</div>
								<!-- end of images -->	
                            
								<div id='profile'>
									<div class="row">
										<label for="work_availability">Work Status</label>
										<br>
										<label class="switch" style="float: none">
												<input id="work_availability" name="work_availability" type="checkbox" onchange="alterStatus()" checked />
												<span class="slider round"></span>
										</label>
										<br>
										<span id="switchStatusMessage">Available</span>
									</div>
									<div class="row">
									<div class="col-sm-6">
										<form id="nameChange" action="" method="POST">	
											<script type="text/javascript">
												$( "#nameChange" ).attr( 'action', 'http://ustart.today:'+port +'/changeName/' );
											</script>
											<label for="fname" style='text-align:center; font-weight:bold;'>First Name</label>										
											<!--<label class="switch usr-vis-opt"><input type="checkbox" name="fnameVis" checked /><span class="slider round"></span></label>	-->										
											<input type="text" class="form-control" id="fname" name="fname" placeholder="First Name" value="{{.UserInfo.FirstName}}" required />
											<p>Names can only be Edited twice a year.</p>
											

											<label for="lname">Last Name</label>
											<!--<label class="switch usr-vis-opt"><input type="checkbox" name="lnameVis" checked /><span class="slider round"></span></label>-->
											<input type="text" class="form-control" id="lname" name="lname" placeholder="Last Name" value="{{.UserInfo.LastName}}" required />																						

											<label for="dob">DOB</label>
											<label class="switch usr-vis-opt"><input type="checkbox" name="dobVis" checked /><span class="slider round"></span></label>
											<input type="date" class="form-control" id="dob" name="dob" placeholder="Date Of Birth" value="" required />																						
											<script>
												let dob = {{.UserInfo.Dob}}.slice(0,10);
												$('#dob').val(dob);
											</script>
											
											<br>			

											<input type="submit" class="btn btn-info" name="name_submit" value="Edit Bio" />
											<br>
											<div class="save-message fade"></div>												
										</form>
									</div>
									<div class="col-sm-6" id='wborder'>
										<form id="locChange" action="" method="POST">										
										<script type="text/javascript">
											$( "#locChange" ).attr( 'action', 'http://ustart.today:'+port +'/changeLoc/' );
										</script>
										<label for="country">Country</label>																			
                                        {{if .UserInfo.Location.CountryVis}}
										<label class="switch usr-vis-opt"><input type="checkbox" name="countryVis" checked><span class="slider round"></span></label>
										<select id="country" class="form-control" name="country" required></select>	
                                        {{else}}
                                        <label class="switch usr-vis-opt"><input type="checkbox" name="countryVis"><span class="slider round"></span></label>
										<select id="country" class="form-control" name="country" required disabled></select>	
                                        
                                        {{end}}

										<label for="state">State</label>
                                        {{if .UserInfo.Location.StateVis}}
										<label class="switch usr-vis-opt"><input type="checkbox" name="stateVis" checked><span class="slider round"></span></label>
										<select id="state" class="form-control" name="state" required></select>	
                                    
                                        {{else}}
                                        <label class="switch usr-vis-opt"><input type="checkbox" name="stateVis"><span class="slider round"></span></label>
										<select id="state" class="form-control" name="state" required disabled></select>
                                        {{end}}
                                        <script language="javascript">
											populateCountries("country", "state");
											$('select#country').val({{.UserInfo.Location.Country}});
                                            populateStates("country", "state");
                                            $('select#state').val({{.UserInfo.Location.State}});
										</script>
                                        {{if .UserInfo.Location.CityVis}}
										<label for="city">City</label>
										<label class="switch usr-vis-opt"><input type="checkbox" name="cityVis" checked><span class="slider round"></span></label>
										<input id="city" class="form-control" name="city" value="{{.UserInfo.Location.City}}" placeholder="City" required />
                                        {{else}}
                                        <label for="city">City</label>
										<label class="switch usr-vis-opt"><input type="checkbox" name="cityVis"><span class="slider round"></span></label>
										<input id="city" class="form-control" name="city" value="" placeholder="City" required disabled/>
                                        {{end}}
                                        {{if .UserInfo.Location.ZipVis}}
										<label for="zip">Zip</label>
										<label class="switch usr-vis-opt"><input type="checkbox" name="zipVis" checked><span class="slider round"></span></label>
										<input id="zip" class="form-control" name="zip" value="{{.UserInfo.Location.Zip}}" placeholder="Zip" required />{{else}}
                                        <label for="zip">Zip</label>
										<label class="switch usr-vis-opt"><input type="checkbox" name="zipVis"><span class="slider round"></span></label>
										<input id="zip" class="form-control" name="zip" value="" placeholder="Zip" required disabled/>
                                        {{end}}

										<br>
										<input type="submit" class="btn btn-info" name="name_submit" value="Edit Location" />
										<div class="save-message fade"></div>
										</form>										
									</div>
								</div>	
								<div class="row">
									<form id="UpdateDescription" action="" method="POST">
										<script type="text/javascript">
											$( "#UpdateDescription" ).attr( 'action', 'http://ustart.today:'+port +'/UpdateDescription/' );
										</script>										
										<label for="inputDesc">Description</label>
										<textarea type="text" class="form-control" id="inputDesc" name="inputDesc" rows="4" placeholder="Update your bio." maxlength="5000" value="readRuneArrayThatWorks({{.UserInfo.Description}})"></textarea>
                                        
										 <script>
                                             $('textarea[name="inputDesc"]').val(readRuneArrayThatWorks({{.UserInfo.Description}}));
                                        </script>
										<span style='float:left'><span id="chars">5000</span> characters remaining</span>
										<br>
										<input type="submit" class="btn btn-info" name="name_submit" value="Edit Description" />
										<div class="save-message fade"></div>	
									</form>
								</div>										
								</div>
								<!-- end of profile-->
		
								<div id='education'>
									<form id="eduChange" action="" method="POST">
										<script type="text/javascript">
											$( "#eduChange" ).attr( 'action', 'http://ustart.today:'+port +'/changeEDU/' );
										</script>									
										<div class='row'>
											<div class="col-sm-3" style='text-align:center; font-weight:bold;'>
												<label for="type_select">User Type</label>
											</div>
											<div class="col-sm-9">
												<select id="type_select" class="form-control" name="type_selector">
													<option disabled selected hidden>Select User Type</option>
													<option>High School Student</option>
													<option>College Student</option>
													<option>Finished Education</option>
												</select>	
												<input type="hidden" name="type_select" value="0"/>	
											</div>
										</div>									
										<div class="row">
											<div class="col-sm-3" style='text-align:center; font-weight:bold;'>
												<label for="schoolname"><h5>High School</h5></label>
											</div>
											<div class="col-sm-9">
												<input type="text" name="schoolname" class="form-control" id="schoolname" placeholder="High School Name" value="{{.UserInfo.HighSchool}}" />
											</div>
										</div>

										<div class="row">
											<div class="col-sm-3" style='text-align:center; font-weight:bold;'>
												<label for="highSchoolGradDate">Grad Date</label>
											</div>
											<div class="col-sm-9">
												<input type='text' placeholder="Graduation Date (MM/DD/YYYY)" class="form-control" id="highSchoolGradDate" name="highSchoolGradDate"
												disabled value="{{.UserInfo.HSGradDate}}" />												
											</div>
										</div>										
										<script type="text/javascript">
											$('#highSchoolGradDate').datepicker({
												format: 'MM/DD/YYYY',
												changeYear: true,
												yearRange: "-100:+0"
											});
										</script>											
										<div class="row">
											<div class="col-sm-3" style='text-align:center; font-weight:bold;'>
												<label for="universityName">University/College</label>
											</div>
											<div class="col-sm-9">
												<input type="text" name="universityName" class="form-control" id="uni" placeholder="University/College Name" value="{{.UserInfo.University}}"/>
											</div>
											<script type="text/javascript">
												$(document).ready(function () {
													$("#uni").autocomplete({
														source: function (request, response) {
															var results = $.ui.autocomplete.filter(universities, request.term);
															response(results.slice(0, 10));
														}
													});
												});
											</script>	
										</div>
										<div class="row">
											<div class="col-sm-3" style='text-align:center; font-weight:bold;'>
												<label for="majors">Major</label>
											</div>
											<div class="col-sm-9">
												<input type="text" id="maj" name="majors" class="form-control" placeholder="Major" />												
											</div>											
										</div>
										<script type="text/javascript">
											$(document).ready(function () {
												$("#maj").autocomplete({
													source: function (request, response) {
														var results = $.ui.autocomplete.filter(major, request.term);
														response(results.slice(0, 10));
													}
												}).val("{{.UserInfo.Majors}}".replace(/\[|\]/g, ''));
											});
										</script>	
										<div class="row">
											<div class="col-sm-3" style='text-align:center; font-weight:bold;'>
													<label for="inYr">Years</label>
											</div>											
											<div class="col-sm-9">
												<select id="inYr" name="year" class="form-control">
														<option value='' disabled selected hidden>Select Class Level</option>
														<option value="Freshman">Freshman</option>
														<option value="Sophomore">Sophomore</option>
														<option value="Junior">Junior</option>
														<option value="Senior">Senior</option>
														<option value="Graduate">Graduate</option>
														<option value="PHD">PHD</option>
														<option value="Professor">Professor</option>
														<option value="Staff">Staff</option>
													</select>
											</div>
										</div>
										<div class="row">
												<div class="col-sm-3" style='text-align:center; font-weight:bold;'>
														<label for="uniGradDate">Expected Grad</label>
												</div>												
												<div class="col-sm-9">
													<input type='text' placeholder="Graduation Date (MM/DD/YYYY)" class="form-control" id="uniGradDate" name="uniGradDate" value="{{.UserInfo.CollegeGradDate}}"/>												
													<script type="text/javascript">
														$('select#inYr').prop('selectedIndex', {{.UserInfo.Class}});
														$('#uniGradDate').datepicker({
															format: 'MM/DD/YYYY',
															changeYear: true,
															yearRange: "-100:+0"
														});
													</script>														
												</div>
											</div>	
																				
											
										<input type="submit" class="btn btn-info" name="name_submit" value="Edit Education" />
										<div class="save-message fade"></div>
										</form>											
							</div>    
							<!-- end of education -->	


								<div id='password'>
									<form id="passChange" action="" method="POST" >
											<script type="text/javascript">
															$( "#passChange" ).attr( 'action', 'http://ustart.today:'+port +'/changePass/' );
											</script>
											<!--
											<div class="alert alert-info alert-dismissable fade in">
												<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> Password needs to verified. And then,
												the user is redirected to a password-change email-sent message.
											</div>
											-->
											<!-- Old Password -->
											<div class="row">
												<div class="col-sm-3" style='text-align:center; font-weight:bold;'>
													<label for="oldpass"><h5>Old Password</h5></label>
												</div>
												<div class="col-sm-9">
													<input type="password" class="form-control" id="oldpass" name="oldpass" placeholder="Enter the old password"
													required />
												</div>
											</div>


											<!-- Confirm Password -->
											<div class="row">
												<div class="col-sm-3" style='text-align:center; font-weight:bold;'>
													<label for="newpass"><h5>New Password</h5></label>
												</div>
												<div class="col-sm-9">
													<input type="password" class="form-control" id="newpass" name="newpass" placeholder="Enter the new password"
													required />
												</div>
												<div id="meter-cont" class="progress password-progress" style=" margin-top: 5px; margin-bottom: 5px;">
														<div id="meter" class="progress-bar" role="progressbar" style="width: 0;"></div>
													</div>
													<div id="bad-pass" style="display: none">
														<span style="color: red;">Password not strong enough.</span>
													</div>
													<div id="left-empty" style="display: none">
														<span style="color: red;">You must enter a password.</span>
												</div>  												
											</div>											
											<!-- Confirm Password -->
											<div class="row">
												<div class="col-sm-3" style='text-align:center; font-weight:bold;'>
														<label for="newpass"><h5>Confirm Password</h5></label>													
												</div>
												<div class="col-sm-9">
													<input type="password" class="form-control" id="confirmpass" name="confirmpass" placeholder="Reconfirm the new password"
													required />
													<span id="pwNoMatch" style="color:red; display:none;">Sorry, passwords do not match.</span>
												</div>
											</div>											
											<input type="submit" class="btn btn-info" name="pass_submit" value="Confirm Password Change" />
											<div class="save-message fade"></div>
										</form>
								</div>
								<!-- end of password -->	
								<div id='account'>
									<div class="row">
										<h4 class="panel-title">
											<a href="blocked_users.html">Manage Blocked Users</a>
										</h4>										
									</div>
									<div class="row">
										<div class="col">
											<div id="deleteAccountCollapse" class="panel-collapse collapse">
												<div class="panel-body">
													<div class="alert alert-danger alert-dismissable fade in">
														<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> The account will be no longer accessible.
														However, the account won't be deleted on the server.
													</div>
													<form id="deleteAccountForm" action="" method="POST">
														<script type="text/javascript">
																		$( "#deleteAccountForm" ).attr( 'action', 'http://ustart.today:'+port +'/deleteAccount/' );
														</script>
														<input type="submit" class="btn btn-danger" name="name_submit" value="Delete Account" />
													</form>
													</div>
												</div>											
										</div>										
									</div>
								</div>
								<!-- end of account -->	
						</div>  
					</div>                    
				</div> 


		</div>

				

</body>
</html>