               {{range .}}
<div class="post-default">
	<!-- regular post sample -->
	<div class="media">
		<a class="pull-left" href="#">
			<img class="media-object img-rounded" src="http://placehold.it/64x64" alt="64x64">
		</a>
		<!--edit dropdown -->
		<div class="dropdown pull-right post-gear">
			<a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span><span class="caret"></span></a>
			<ul class="dropdown-menu" style="min-width: 0px !important; padding:0px !important;">
				<li><a class="dropdown-item " data-toggle="modal" data-target="#confirm-delete"><H6>Delete</H6></a></li>
			</ul>
		</div>
		<!--end edit dropdown -->
		<div class="media-body">
			<h6 class="post-time pull-right text-muted time" style="padding-right:4px;">1 minute ago {{.Wall.Element.TimeStamp}}</h6>
			<h5 class="post-name mt-0" style="color:cadetblue;"><a href="profile.html">{{.Wall.FirstName }} MY NAME IS NIL</a></h5>
			<p class="post-message"> {{range $index :=  .Wall.Element.Content }}
                                    {{$index}}
                                     {{end}}
                                      </p>
                                        </div>
		<br>
		<ul>
			<li><a class="btn btn-danger btn-sm btn-hover like-btn" data-toggle="tooltip" title="{{.Wall.NumLikes}}">Like</a></li>
			<li><a class="btn btn-primary btn-sm btn-hover comment-btn" style="margin-left:5px;" data-toggle="tooltip" title="{{.Wall.NumReplies}}">Comment</a></li>
			<li><a class="btn btn-info btn-sm btn-hover share-btn" style="margin-left:5px;" data-toggle="tooltip" title="{{.Wall.NumShares}}">Share</a></li>
		</ul>
	</div>
</div>
<!-- end regular post -->
<div class="post-shared">
	<!-- shared post sample-->
	<!--edit dropdown -->
	<div class="media">
		<div class="dropdown pull-right post-gear">
			<a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span><span class="caret"></span></a>
			<ul class="dropdown-menu" style="min-width: 0px !important; padding:0px !important;">
				<li><a class="dropdown-item" data-toggle="modal" data-target="#confirm-delete"><H6>Delete</H6></a></li>
			</ul>
		</div>
		<!--end edit dropdown -->
		<h6 class="post-time pull-right text-muted time" style="padding-right:4px;">1 minute ago {{.Wall.Element.TimeStamp}}</h6>
		<h5 class="post-name mt-0" style="color:cadetblue">You shared a post:</h5>
		<p class="post-message" style="margin-left:2em">{{range $index :=  .Wall.Element.Content }}
									hello dog
                                    {{$index}}
                                     {{end}}
                                      </p>
		<div class="panel panel-default">
			<div class="panel-body">
				<!--load a link to the original post-->
			</div>
		</div>
		<ul>
			<li><a class="btn btn-danger btn-sm btn-hover like-btn" data-toggle="tooltip" title="{{.Wall.NumLikes}}">Like</a></li>
			<li><a class="btn btn-primary btn-sm btn-hover comment-btn" style="margin-left:5px;" data-toggle="tooltip" title="{{.Wall.NumReplies}}">Comment</a></li>
			<li><a class="btn btn-info btn-sm btn-hover share-btn" style="margin-left:5px;" data-toggle="tooltip" title="{{.Wall.NumShares}}">Share</a></li>
		</ul>
	</div>
	<!-- end shared Post -->
</div>
<div class="post-original">
	<!-- regular post sample -->
	<div class="media" data-toggle="modal" data-target="#main-modal">
		<a class="pull-left" href="#">
			<img class="media-object img-rounded" src="http://placehold.it/40x40" alt="40x40">
		</a>
		<!--end edit dropdown -->
		<div class="media-body">
			<h6 class="post-time pull-right text-muted time" style="padding-right:4px;">1 minute ago {{.Wall.Element.TimeStamp}}</h6>
			<h5 class="post-name mt-0" style="color:cadetblue;"><a href="profile.html"> MY NAME IS JOE </a></h5>
			<p class="post-message">{{range $index :=  .Wall.Element.Content }}
                                    {{$index}}
                                     {{end}}
                                      </p>
		</div>
	</div>
testing 
</div>
{{end}}