
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>ustart</title>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href="/www/ustart.tech/css/user-v3.css" rel="stylesheet" type="text/css" />
    <link href="/www/ustart.tech/css/layout1.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="/www/ustart.tech/js/userEdit.js"></script>
    <!-- <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script>
    <script src="/www/ustart.tech/js/bootstrap-confirmation.min.js"></script>
    <style>
    .loadOver {
        background-color: white;
        z-index: 500;
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
    }
    </style>

    <script src="/www/ustart.tech/js/profile.js"></script>
</head>

<body>
   
          
                <!-- Link Modal -->
              
    
            <div class="grid_wrapper">
                <div class="grid buffer"></div>
                <div class="grid">
                {{range .}}
    
                    <!-- comment main Modal -->
                    <div class="modal fade" id="main-modal" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object img-rounded" src="http://placehold.it/64x64" alt="64x64">
                                        </a>
                                        <div class="media-body">
                                            <h6 class="pull-right text-muted time">1 minute ago</h6>
                                            <h5 class="mt-0" style="color:cadetblue;">{{.FirstName}} </h5>
                                            <p>   {{range $index :=  .UserInfo.RepliesArray }}
                                    <script>
                                    {{$index}}

                                    </script>
                                     {{end}}
                                      </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-body">
                                    <div class="input-group">
                                        <form id="commentform">
                                            <input class="form-control" placeholder="Add a comment" type="text">
                                        </form>
                                        <span class="input-group-addon">
                            <a onclick="document.getElementById('commentform').submit();"><i class="fa fa-edit"></i></a>  
                        </span>
                                    </div>
                                    <br>
                                    <!--comment list starts here -->
                                    <div class="comments-list">
                                        <!-- sample comment list -->
                                        <div class="media">
                                            <h6 class="pull-right text-muted time">Less than 1 minute ago</h6>
                                            <a class="media-left" href="#">
                                                <img class="img-rounded" src="http://placehold.it/40x40">
                                            </a>
                                            <div class="media-body">
                                                <h5 class="media-heading user_name" style="color:cadetblue;">Emilia Clarke</h5> 
                                                <p>Wow!SYO👌</p>
                                                <p><small><a class="comment-like">Like</a></small> - <small><a class="confirmation-callback" >Remove</a></small></p>
                                            </div>
                                        </div>
                                        <!-- end sample comment list -->

                                    </div>
                                    <!-- comment list ends-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end Main Modal -->
                    <!-- /************************/ -->
                    <!-- share Modal-->
                    <div class="modal fade" id="share-modal" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Share On Your Profile</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object img-rounded" src="http://placehold.it/64x64" alt="64x64">
                                        </a>
                                        <div class="media-body">
                                            <h6 class="pull-right text-muted time">1 minute ago</h6>
                                            <h5 class="mt-0" style="color:cadetblue;">{{.FirstName}}</h5>
                                            <p>   {{range $index :=  .Comment }}
                                    {{$index}}
                                     {{end}}
                                      </p>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <form id="shareCommentForm">
                                            <textarea class="form-control" id="comment-msg" placeholder="Say Something about this..."></textarea>
                                        </form>
                                    </div>
                                    <button class="btn btn-primary odom-submit pull-right">Post</button>
                                </div>
                                <div class="modal-footer" id="RemoveFooterline">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end share Modal -->
                    <!-- delete confirmation modal -->
                    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <span style="font-size:20px;">Confirm Deletion</span>
                                </div>
                                <div class="modal-body">
                                    <span style="font-size:15px;">Are you sure you want to delete this post?</span>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    <a class="btn btn-danger btn-ok">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end delete confirmation modal -->
                    <!-- main (wall) -->
                    <div id="main">
                        <!-- new post -->
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object img-rounded" src="http://placehold.it/64x64" alt="64x64">
                                    </a>
                                    <div class="media-body">
                                        <div class="form-group">
                                            <form id="New-Post-Form">
                                                <textarea class="form-control" id="post-msg" style="resize:none;" placeholder="What's Up?"></textarea>
                                            </form>
                                        </div>
                                        <button id="new-postSubmit" class="btn btn-primary pull-right">Post</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end new post -->

                        <div class="panel panel-default">
                         {{if not .Shared}}
                            <div class="panel-body">
                                <!-- regular post sample -->

                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object img-rounded" src="http://placehold.it/64x64" alt="64x64">
                                    </a>
                                    <!--edit dropdown -->
                                    <div class="dropdown pull-right">
                                        <a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span><span class="caret"></span></a>
                                        <ul class="dropdown-menu" style="min-width: 0px !important; padding:0px !important;">
                                            <li><a class="dropdown-item " data-toggle="modal" data-target="#confirm-delete"><H6>Delete</H6></a></li>
                                        </ul>
                                    </div>
                                    <!--end edit dropdown -->
                                    <div class="media-body">
                                        <h6 class="pull-right text-muted time" style="padding-right:4px;">1 minute ago</h6>
                                        <h5 class="mt-0" style="color:cadetblue;">{{.FirstName}} {{.LastName}} {{.BoxInfo.PhoneType}} </h5>
                                <p>   {{range $index :=  .Comment }}
                                    {{$index}}
                                     {{end}}
                                      </p>
                                    </div>
                                    <br>
                                    <ul class="nav nav-pills">
                                        <li><a class="btn btn-danger btn-sm btn-hover pull-left like-btn" data-toggle="tooltip" title="6">Like</a></li>
                                        <li><a class="btn-primary btn-sm btn-hover pull-left comment-btn" style="margin-left:5px;" data-toggle="tooltip" title="69">Comment</a></li>
                                        <li><a class="btn-info btn-sm btn-hover pull-left share-btn" style="margin-left:5px;" data-toggle="tooltip" title="6969">Share</a></li>
                                    </ul>
                                </div>
                                <!-- end regular post HR AFTER EVERY POST OK -->
                                <hr>
                                {{end}}
                                {{if .Shared}}
                                <!-- shared post sample-->
                                <!--edit dropdown -->
                                <div class="dropdown pull-right">
                                    <a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span><span class="caret"></span></a>
                                    <ul class="dropdown-menu" style="min-width: 0px !important; padding:0px !important;">
                                        <li><a class="dropdown-item" data-toggle="modal" data-target="#confirm-delete"><H6>Delete</H6></a></li>
                                    </ul>
                                </div>
                                <!--end edit dropdown -->
                                <h6 class="pull-right text-muted time" style="padding-right:4px;">1 minute ago</h6>
                                <h5 class="mt-0" style="color:cadetblue">You shared a post:</h5>
                                <p style="margin-left:2em">haHAA</p>
                                <div class="media">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="media">
                                                <a class="pull-left" href="#">
                                                    <img class="media-object img-rounded" src="http://placehold.it/40x40" alt="40x40">
                                                </a>
                                                <div class="media-body">
                                                    <h6 class="pull-right text-muted time">1 minute ago</h6>
                                                    <h5 class="mt-0" style="color:cadetblue;">{{.FirstName}} </h5>
                                                    <p>   {{range $index :=  .Comment }}
                                                            {{$index}}
                                                             {{end}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="nav nav-pills">
                                        <li><a class="btn btn-danger btn-sm btn-hover pull-left like-btn" data-toggle="tooltip" title="6">Like</a></li>
                                        <li><a class="btn-primary btn-sm btn-hover pull-left comment-btn" style="margin-left:5px;" data-toggle="tooltip" title="69">Comment</a></li>
                                        <li><a class="btn-info btn-sm btn-hover pull-left share-btn" style="margin-left:5px;" data-toggle="tooltip" title="6969">Share</a></li>
                                    </ul>
                                </div>
                                <!-- end shared Post -->
                            </div>
                        </div>
                    </div>
                    <!-- end main -->
                    {{end}}
                    {{end}}
                </div>

                <!-- end grid -->
            </div>
            <!-- end of grid_wrapper -->
        </div>
        <!-- end content -->
    </div>
    <div id="footer-placeholder"></div>
</body>

</html>