#slides {
	position: relative;
	width: 100%;
	height: 93vh;
	top: 4em;
	vertical-align: middle;
	background-repeat:no-repeat;
	background-position:center;
	background-attachment:fixed;
	overflow:hidden;
}

.arrow {
	opacity: .5;
	color: white;
	background-color: gray;
	border-radius: .75em;
	font-size: 2em;
	text-align: center;
	position: relative;
	margin-top: -50vh;
	height: 1.5em;
	width: 1.5em;
	display:block;
	line-height: 150%;
	cursor: pointer;
}
.arrow:hover {
	opacity: 1;
	z-index: 10;
}
#arrowPrev {
	float:left;
	margin-left: 1vh;
}
#arrowNext {
	float: right;
	margin-right: 1vh;
}

#slideDes {
	position: relative;
	float: left;
	left: 20vh;
	top: 38vh;
	color: white;
	width: 50vw;
	height: 20em;
	padding: 1em;
	background-color: rgba(0, 0, 0, 0.6);
	line-height: 2;
	border-radius: 1em;
	overflow:hidden;
}
@media only screen and (max-device-width: 480px) {
	#slideDes {
		width:auto;
		left:0;
	}
}
#foot {
	margin-top: 4em;
	position: relative;
	height: 20em;
	width: 100%;
	background-color: #2d2d2d;
	color: white;
	text-align: center;
}

#foot table a {
	text-decoration:none;
	color:white;
}
#foot table a:hover {
	text-decoration:none;
	color:gray;
}
#foot table {
	padding: 3em;
	width: 100%;
	font-size: .8em;
}
#foot table th {
	font-size: 1.2em;
	height: 4em;
}
#foot table th, td {
	width: 5em;
	padding: .2em;
}