* {
    font-weight: 500;
}

#search-results-container {
    max-width: calc(100% - 23.5em);
    margin-left: 0;
}

.search-result {
    border-radius: 8px;
    border-color: #ddd;
    border-width: 1px;
    border-style: solid;
    margin: 1em 0;
    padding: 0.5em;
    line-height: 2;
    background-color: white;
    overflow: hidden;
    max-height: 10em;
    position: relative;
    transition: all 0.5s;
}
.search-result:hover {
    -webkit-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.search-result-pic {
    width: 8em;
    height: 8em;
    background-color: #ddd;
    border-radius: 8em;
    margin: 0.5em 1em;
}

.search-result-text {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0.5em;
    width: calc(100% - 12em);
    height: 8em
}

.search-result-title {
    color: #00C085;
    font-size: 1.2em;
    max-height: 2em;
    overflow: hidden;
}

.search-result-description {
    font-size: 0.9em;
    max-height: 6em;
    overflow: hidden;
}

#search-filter {
    background-color: white;
    float: right;
    padding: 1em;
    border-radius: 0.5em;
    border: solid 1px #ddd;
    margin: 1em 0.5em;
    width: 22em;
}
#search-filter h4 {
	/*
    background-color: #455A64;
    color:white;
    padding: 0.6em 1em;
    border-radius: 0.4em;
    outline: none;
    font-size: 1em;
    cursor: pointer;
	*/
}
#search-filter h3 {
    margin-top: 0;
}
#filOptions li {
    list-style: none;
}
#filOptions input, #filOptions select {
    padding: 0.5em;
    margin: 0.5em;
    outline: none;
    border: none;
}
#filOptions input[type=text], #filOptions select {
    border-bottom: solid 2px #00C085;
}
#filApply {
    background-color: #00C085;
    border-radius: 0.4em;
    width: 6em;
    color: white;
    font-size: 0.9em;
    float: right;
}
@media (min-width: 992px) {
    #content .row .col-md-2 {
        display: block;
        top: 1em;
    }
    .dashboardFooter {
        display: block;
    }
    #search-results-container {
        max-width: calc(82% - 23.5em);
        margin-left: 18%;
    }
}

@media (max-width: 800px) {
    #search-results-container {
        max-width:100%
    }

    #search-filter {
        display: none
    }
}

@media screen\9 ,screen and (min-width: 800px) {
    #search-filter {
        display: block
    }
}